{% extends "base.html" %}

{% load allauth i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock title %}
{% block title_h1 %}{% trans "Sign Out" %}{% endblock title_h1 %}
{% block bloc1 %}
<span language="english">Goodbye</span> ⋅
<span language="french">Au revoir</span> ⋅
<span language="spanish">Adiós</span> ⋅
<span language="german">Auf Wiedersehen</span> ⋅
<span language="italian">Arrivederci</span> ⋅
<span language="portuguese">Adeus</span> ⋅
<span language="dutch">Tot ziens</span> ⋅
<span language="russian">До свидания (Do svidaniya)</span> ⋅
<span language="chinese">再见 (Zàijiàn)</span> ⋅
<span language="japanese">さようなら (Sayōnara)</span> ⋅
<span language="korean">안녕히 가세요 (Annyeonghi gaseyo)</span> ⋅
<span language="arabic">وداعا (Wada'an)</span> ⋅
<span language="hindi">अलविदा (Alvida)</span> ⋅
<span language="bengali">বিদায় (Biday)</span> ⋅
<span language="urdu">الوداع (Alwida)</span> ⋅
<span language="swahili">Kwa heri</span> ⋅
<span language="turkish">Hoşça kal</span> ⋅
<span language="greek">Αντίο (Antío)</span> ⋅
<span language="thai">ลาก่อน (Lā k̀xn)</span> ⋅
<span language="vietnamese">Tạm biệt</span> ⋅
<span language="polish">Do widzenia</span> ⋅
<span language="swedish">Adjö</span> ⋅
<span language="danish">Farvel</span> ⋅
<span language="norwegian">Ha det</span> ⋅
<span language="finnish">Näkemiin</span> ⋅
<span language="hungarian">Viszlát</span> ⋅
<span language="czech">Sbohem</span> ⋅
<span language="slovak">Zbohom</span> ⋅
<span language="romanian">La revedere</span> ⋅
<span language="bulgarian">Довиждане (Dovizhdane)</span> ⋅
<span language="serbian">Довиђења (Doviđenja)</span> ⋅
<span language="croatian">Doviđenja</span> ⋅
<span language="slovenian">Nasvidenje</span> ⋅
<span language="malay">Selamat tinggal</span> ⋅
<span language="indonesian">Selamat tinggal</span> ⋅
<span language="filipino">Paalam</span> ⋅
<span language="hebrew">להתראות (Lehitraot)</span> ⋅
<span language="persian">خداحافظ (Khodahafez)</span> ⋅
<span language="pashto">خداى پامان (Khudai paiman)</span> ⋅
<span language="punjabi">ਅਲਵਿਦਾ (Alvida)</span> ⋅
<span language="telugu">వీడ్కోలు (Veedkolu)</span> ⋅
<span language="kannada">ವಿದಾಯ (Vidāya)</span> ⋅
<span language="marathi">निरोप (Niroop)</span> ⋅
<span language="gujarati">અલવિદા (Alvida)</span> ⋅
<span language="malayalam">വിട (Vida)</span> ⋅
<span language="sinhalese">ගිහිං එන්නම් (Gihin ennam)</span> ⋅
<span language="zulu">Hamba kahle</span> ⋅
<span language="xhosa">Sala kakuhle</span>
{% endblock bloc1 %}
{% block bloc2 %}
<span>👋</span> ⋅
<span>🖐️</span> ⋅
<span>✋</span> ⋅
<span>🤚</span> ⋅
<span>🫡</span> ⋅
<span>🙋</span> ⋅
<span>🙌</span> ⋅
<span>👋🏻</span> ⋅
<span>👋🏼</span> ⋅
<span>👋🏽</span> ⋅
<span>👋🏾</span> ⋅
<span>👋🏿</span> ⋅
<span>👋</span> ⋅
<span>🖐️</span> ⋅
<span>✋</span> ⋅
<span>🤚</span> ⋅
<span>🫡</span> ⋅
<span>🙋</span> ⋅
<span>🙌</span> ⋅
<span>👋🏻</span> ⋅
<span>👋🏼</span> ⋅
<span>👋🏽</span> ⋅
<span>👋🏾</span> ⋅
<span>👋🏿</span> ⋅
<span>👋</span> ⋅
<span>🖐️</span> ⋅
<span>✋</span> ⋅
<span>🤚</span> ⋅
<span>🫡</span> ⋅
<span>🙋</span> ⋅
<span>🙌</span> ⋅
<span>👋🏻</span> ⋅
<span>👋🏼</span> ⋅
<span>👋🏽</span> ⋅
<span>👋🏾</span> ⋅
<span>👋🏿</span> ⋅
<span>👋</span> ⋅
<span>🖐️</span> ⋅
<span>✋</span> ⋅
<span>🤚</span> ⋅
<span>🫡</span> ⋅
<span>🙋</span> ⋅
<span>🙌</span> ⋅
<span>👋🏻</span> ⋅
<span>👋🏼</span> ⋅
<span>👋🏽</span> ⋅
<span>👋🏾</span> ⋅
<span>👋🏿</span> ⋅
<span>👋</span> ⋅
<span>🖐️</span> ⋅
<span>✋</span> ⋅
<span>🤚</span> ⋅
<span>🫡</span> ⋅
<span>🙋</span> ⋅
<span>🙌</span> ⋅
<span>👋🏻</span> ⋅
<span>👋🏼</span> ⋅
<span>👋🏽</span> ⋅
<span>👋🏾</span> ⋅
<span>👋🏿</span>
{% endblock bloc2 %}

{% block content %}
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Sign Out' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
