# Fichiers sensibles
.env
*.pem
*.key
*.crt

# Git
.git
.gitignore

# Environnements virtuels / dépendances
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
node_modules/
.github/
.pytest_cache/
nginx.conf
.releaserc
.vscode/
package-lock.json
package.json
frontend/
staticfiles/
media/
test/

# Logs
*.log

# Autres
chris/
MySQL/
Dockerfile
docker-compose.yml
docker-compose-n8n.yml
docker-compose-n9n.yml
LICENSE
README.md
CHANGELOG.md