DEBUG=1
SECRET_KEY=dev-secret-key

# PostgreSQL
POSTGRES_DB=pg-carthographie
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# OIDC / Keycloak
USE_OIDC=1
OIDC_RP_CLIENT_ID=lss-dev
OIDC_RP_CLIENT_SECRET=change-me
OIDC_OP_AUTHORIZATION_ENDPOINT=http://localhost:8080/realms/lss-dev/protocol/openid-connect/auth
OIDC_OP_TOKEN_ENDPOINT=http://keycloak:8080/realms/lss-dev/protocol/openid-connect/token
OIDC_OP_USER_ENDPOINT=http://keycloak:8080/realms/lss-dev/protocol/openid-connect/userinfo
OIDC_OP_JWKS_ENDPOINT=http://keycloak:8080/realms/lss-dev/protocol/openid-connect/certs
OIDC_RP_SIGN_ALGO=RS256

# SQL logs
SQL_REQUEST_LOG=1
SQL_REQUEST_LOG_NAME_PREFIX=[DEV]
LOG_RETENTION_DAYS=1
