DEBUG=1
SQL_REQUEST_LOG=1 # 0: no log, 1: SQL name, 2: SQL name and request
SQL_REQUEST_LOG_NAME_PREFIX='[DEV]'
LOG_RETENTION_DAYS=1

###########
# SECRETS #
###########
SECRET_KEY='<secret>'
GOOGLE_CLIENT_ID='<secret>'
GOOGLE_CLIENT_SECRET='<secret>'

#######
# BDD #
#######
LOCAL_FUNCTIONAL_HOST='localhost'
LOCAL_FUNCTIONAL_USER='admin'
LOCAL_FUNCTIONAL_PASSWORD='<secret>'
LOCAL_FUNCTIONAL_DATABASE='<secret>'
LOCAL_FUNCTIONAL_SSL=''

DOCKER_MYSQL_HOST='db'
DOCKER_MYSQL_DATABASE='<secret>'
DOCKER_MYSQL_USER='<secret>'
DOCKER_MYSQL_PASSWORD='<secret>'
DOCKER_MYSQL_ROOT_PASSWORD='<secret>'
DOCKER_MYSQL_SSL=''
