{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% trans "Journal des versions sur GitHub" as homepage_changelog_label %}
{% trans "Dernière version publiée" as homepage_latest_release_label %}

{% block title %}Lyrics Slide Show{% endblock %}
{% block meta_description %}{% endblock %}

{% block section_title %}{% endblock %}
{% block section_intro %}{% endblock %}
{% block section_nav %}
    <div class="site-home-media">
        <picture data-theme-icon="lss" data-theme-alt="Lyrics Slide Show">
            <source
                data-theme-size="512"
                data-theme-mode="dark"
                srcset="{% static 'icons/ui/normal/512/dark/lss.png' %}"
                media="(prefers-color-scheme: dark)"
            >
            <source
                data-theme-size="512"
                data-theme-mode="light"
                srcset="{% static 'icons/ui/normal/512/light/lss.png' %}"
                media="(prefers-color-scheme: light)"
            >
            <img
                src="{% static 'icons/ui/normal/512/light/lss.png' %}"
                alt="Lyrics Slide Show"
                data-theme-size="512"
                data-theme-mode="light"
            >
        </picture>
    </div>
{% endblock %}

{% block tools_title %}{% endblock %}
{% block tools_intro %}{% endblock %}
{% block page_tools %}
    <div class="site-home-media">
        <a class="site-nav-drawer-partner-link"
           href="https://www.carthographie.fr/"
           target="_blank"
           rel="noopener noreferrer"
           title="cARThographie">
            <img class="site-nav-drawer-partner-image"
                 src="{% static 'images/cARThographie.gif' %}"
                 alt="cARThographie">
        </a>
    </div>
    <div>
        <a class="site-home-release-link"
           href="https://github.com/ChristianPRO1982/lyrics-slide-show/blob/main/CHANGELOG.md"
           target="_blank"
           rel="noopener noreferrer"
           title="{{ homepage_changelog_label }}">
            <img class="site-home-release-badge"
                 src="https://img.shields.io/github/release/ChristianPRO1982/lyrics-slide-show.svg"
                 alt="{{ homepage_latest_release_label }}">
        </a>
        <a href="{% url 'privacy_policy' %}" title="{% trans 'Politique de confidentialité' %}">
            {% trans "Politique de confidentialité" %}
        </a>
    </div>
{% endblock %}

{% block mobile_side_title %}{% endblock %}
{% block mobile_side_intro %}{% endblock %}
{% block mobile_side_content %}{% endblock %}

{% block page_kicker %}{% endblock %}
{% block page_title %}{% endblock %}
{% block page_intro %}{% endblock %}
{% block page_summary %}{% endblock %}

{% block content %}{% endblock %}
