{% extends "base.html" %}

{% block title %}Lyrics Slide Show{% endblock %}
{% block meta_description %}{% endblock %}

{% block section_title %}{% endblock %}
{% block section_intro %}{% endblock %}
{% block section_nav %}{% endblock %}

{% block tools_title %}{% endblock %}
{% block tools_intro %}{% endblock %}
{% block page_tools %}{% endblock %}

{% block mobile_side_title %}{% endblock %}
{% block mobile_side_intro %}{% endblock %}
{% block mobile_side_content %}{% endblock %}

{% block page_kicker %}{% endblock %}
{% block page_title %}{% endblock %}
{% block page_intro %}{% endblock %}
{% block page_summary %}{% endblock %}

{% block content %}{% endblock %}

{% block content_footer %}
    <section></section>
{% endblock %}
