{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Page not found" %}{% endblock title %}
{% block title_h1 %}{% trans "Error 404" %}{% endblock title_h1 %}

{% block bloc1 %}
<a href="/">{% trans "Return to homepage" %}</a>
{% endblock bloc1 %}

{% block bloc2 %}
<p>{% trans "Sorry, the requested page does not exist or has been moved." %}</p>
<p>{% trans "More informations on <a href='https://fr.wikipedia.org/wiki/Erreur_HTTP_404'>Wikipedia</a>." %}</p>
{% endblock bloc2 %}

{% block content %}
<div class="text-center mt-8">
  <img src="{% static 'images/404.png' %}" alt="404" class="mx-auto d-block" style="max-width: 300px;">
  <p class="mt-4 text-gray-600">{% trans "You can return to the homepage or use the menu above." %}</p>
  <a href="/" class="btn btn-primary mt-4">{% trans "Return to homepage" %}</a>
</div>
{% endblock content %}
