{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "animations_title" %}{% endblock title %}
{% block title_h1 %}{% trans "animations_title" %}{% endblock title_h1 %}
{% block bloc1 %}
{% if group_selected %}{% trans "groupe_selected1" %}{{ group_selected }}{% trans "groupe_selected2" %}{% else %}{% trans "No group selected" %}{% endif %}
{% endblock bloc1 %}
{% block bloc2 %}
CAL
{% endblock bloc2 %}

{% block content %}
<table style="width: 100%;">
    <thead>
        <tr>
            <th style="width: 25%;">{% trans "Name" %}</th>
            <th style="width: 25%;">{% trans "Description" %}</th>
            <th style="width: 25%;">{% trans "Date" %}</th>
            <th style="width: 24%;">{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for animation in animations %}
        <tr>
            <td>{{ animation.name }}</td>
            <td>
                {{ animation.description|slice:":100" }}
                {% if animation.description|length > 100 %} [...] {% endif %}
            </td>
            <td>{{ animation.date }}</td>
            <td>
                <a href="{% url 'modify_animation' animation.animation_id %}">{% trans "Update" %}</a> |
                <a href="{% url 'delete_animation' animation.animation_id %}">{% trans "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
        {% if error == '' %}
        <tr>
            <form method="post">
                {% csrf_token %}
                <td><input type="text" name="txt_new_name" placeholder="{% trans "new_animation" %}" maxlength="255" {% if name != '' %}value="{{ name }}"{% endif %} required /></td>
                <td><input type="text" name="txt_new_description" placeholder="{% trans "Description" %}" {% if description != '' %}value="{{ description }}"{% endif %} /></td>
                <td><input type="date" name="dt_new_date" placeholder="AAAA-MM-JJ" {% if date != '' %}value="{{ date }}"{% endif %} required /></td>
                <td><input name="btn_new_animation" value="{% trans "Add" %}" type="submit" /></td>
            </form>
        </tr>
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </tfoot>
    {% if form.errors.name %}
        <div class="error">
            <p>{{ form.errors.name }}</p>
        </div>
    {% endif %}
</table>
{% endblock content %}
