{% extends "base.html" %}

{% block title %}Liste des animations{% endblock title %}
{% block title_h1 %}Liste des animations{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}{% endblock bloc2 %}

{% block content %}
<table style="width: 100%;">
    <thead>
        <tr>
            <th style="width: 25%;">Nom</th>
            <th style="width: 25%;">Description</th>
            <th style="width: 25%;">Date</th>
            <th style="width: 24%;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for animation in animations %}
        <tr>
            <td>{{ animation.name }}</td>
            <td>
                {{ animation.description|slice:":100" }}
                {% if animation.description|length > 100 %} [...] {% endif %}
            </td>
            <td>{{ animation.date }}</td>
            <td>
                <a href="{% url 'modify_animation' animation.animation_id %}">Modifier</a> |
                <a href="{% url 'delete_animation' animation.animation_id %}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post">
                {% csrf_token %}
                <td><input type="text" name="txt_new_name" placeholder="Nouvel animation" maxlength="255" {% if name != '' %}value="{{ name }}"{% endif %} required /></td>
                <td><input type="text" name="txt_new_description" placeholder="Description" {% if description != '' %}value="{{ description }}"{% endif %} /></td>
                <td><input type="date" name="dt_new_date" placeholder="AAAA-MM-JJ" {% if date != '' %}value="{{ date }}"{% endif %} required /></td>
                <td><input name="btn_new_animation" value="Ajouter" type="submit" /></td>
            </form>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    {% if form.errors.name %}
        <div class="error">
            <p>{{ form.errors.name }}</p>
        </div>
    {% endif %}
</table>
{% endblock content %}
