{% extends "base.html" %}

{% block title %}Confirmer la suppression de l'animation{% endblock title %}
{% block title_h1 %}Confirmer la suppression de l'animation{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}{% endblock bloc2 %}

{% block content %}
<p>Confirmer la suppression de l'animation <i>{{ animation.name }}</i></p>
<form method="post" action="{% url "delete_animation" animation.animation_id %}">
    {% csrf_token %}
    <hr>
    <div class="text-center">
        <input style="width: 45%;" name="btn_delete" value="Supprimer" type="submit" />
        <input style="width: 45%;" name="btn_cancel" value="Annuler" type="submit" />
    </div>
</form>  
{% endblock content %}