{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}Animation : {{ animation.name }}{% endblock title %}
{% block title_h1 %}{{ animation.name }}{% endblock title_h1 %}
{% block bloc1 %}
{% if group_selected %}{% trans "groupe_selected1" %}{{ group_selected }}{% trans "groupe_selected2" %}{% else %}{% trans "No group selected" %}{% endif %}
{% endblock bloc1 %}
{% block bloc2 %}
<div class="controls">
    <button id="openDisplayWindow" onClick="document.getElementById('showOpenDisplayWindow').style.display='block'; this.style.display='none';">{% trans "Open a second screen" %}</button>
    <button id="showOpenDisplayWindow" style="display:none;" onClick="document.getElementById('openDisplayWindow').style.display='block'; this.style.display='none';">{% trans "Reopen second screen" %}</button>
</div>
<script src="{% static 'js/remote.js' %}"></script>
<hr>
<div id="blackMode"
    onClick="blackMode();"
    class="slide flex h-36 p-2 items-center justify-center text-xs border rounded-lg">
    BLACK MODE
</div>
{% endblock bloc2 %}

{% block content %}
<div class="grid grid-cols-3 gap-4">
{% for slide in slides %}
    <div id="{{ slide.animation_song_id }}_{{ slide.verse_id }}"
        onClick="showSlide('{{ slide.animation_song_id }}_{{ slide.verse_id }}', '{{ slide.text|safe }}')"
        class="slide flex h-36 p-2 items-center justify-center text-xs border rounded-lg">
        {{ slide.text|safe }}
    </div>
{% endfor %}
</div>

<script>
    let slides = []
    {% for slide in slides %}
    text = '{{ slide.text }}'
    slides.push(text);
    {% endfor %}
    {% comment %} let slides = ['Slide 1', 'Slide 2', 'Slide 3', 'Slide 4', 'Slide 5']; {% endcomment %}
    let slideList = document.getElementById('slideList');
    let displayWindow;

    // Générer la liste des slides dynamiquement
    slides.forEach((slide, index) => {
        let slideElement = document.createElement('div');
        slideElement.classList.add('slide');
        slideElement.innerText = slide;
        slideElement.addEventListener('click', () => {
        selectSlide(index, slideElement);
        });
        slideList.appendChild(slideElement);
    });
</script>
{% endblock content %}