{% extends "base.html" %}

{% load i18n %}

{% block title %}Animation : {{ animation.name }}{% endblock title %}
{% block title_h1 %}{{ animation.name }}{% endblock title_h1 %}
{% block bloc1 %}
<a href="{% url "anim1" animation.animation_id %}">LIEN 1</a><br>
<a href="{% url "anim2" animation.animation_id %}">LIEN 2</a><hr>
{% if group_selected %}{% trans "groupe_selected1" %}{{ group_selected }}{% trans "groupe_selected2" %}{% else %}{% trans "No group selected" %}{% endif %}
{% endblock bloc1 %}
{% block bloc2 %}
<div id="song-lyrics">
    {% trans "Select a song to view the lyrics" %}
</div>
{% endblock bloc2 %}

{% block content %}
<script>
    const database = {};

    {% for lyrics in list_lyrics %}
    i = {{ lyrics.song_id }};
    v_title = "{{ lyrics.full_title }}";
    v_lyrics = "{{ lyrics.lyrics|safe|escapejs }}";
    database[i] = { title: v_title, lyrics: v_lyrics };
    {% endfor %}


    function updateDiv(songId) {
        const song = database[songId];
        if (song) {
            document.getElementById('song-lyrics').innerHTML = `
                <h3 class="font-bold text-xl p-4">${song.title}</h3>
                <p>${song.lyrics}</p>
            `;
        }
    }
</script>

<form method="post" action="{% url "modify_animation" animation.animation_id %}">
    {% csrf_token %}
    <div>
        <label for="id_name">Nom</label><br>
        <input type="text" name="txt_name" id="id_name" maxlength="255" value="{{ animation.name }}" style="width: 100%;" required>
    </div>
    <div>
        <label for="id_description">Description</label><br>
        <textarea name="txt_description" id="id_description" style="width: 100%;">{{ animation.description }}</textarea>
    </div>
    <div>
        <label for="id_date">Date</label><br>
        <input type="date" name="dt_date" id="id_date" maxlength="255" value="{{ animation.date|date:"Y-m-d" }}" style="width: 100%;" required>
    </div>

    {% for song in animation.songs %}
        <hr>
        <div class="mt-1 px-1 border border-pink">
            <div style="display: flex; justify-content: space-between;">
                <div style="text-align: left; width: 60%;">
                    <h2 class"mb-1"><p class="font-bold">{{ song.full_title }}</p></h2>
                    {% for song_verses in all_verses %}
                        {% if song.song_id == song_verses.song_id %}
                            {% for verse_id in song_verses.verses_id %}
                                <input style="width: 10%;" type="checkbox" name="box_verse_{{ song.animation_song_id }}_{{ verse_id }}"
                                id="box_verse_{{ song.animation_song_id }}_{{ verse_id }}" />
                                <label for="box_verse_{{ song.animation_song_id }}_{{ verse_id }}">{% trans "verse_num" %}{{ forloop.counter }}</label>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% for verse in animation.verses %}
                        {% if song.animation_song_id == verse.animation_song_id %}
                            <p>
                                <label for="box_verse_{{ verse.animation_song_id }}_{{ verse.verse_id }}">
                                    {% trans "verse_num" %}{{ verse.num_verse }} :
                                </label>
                                <input style="width: 10%;" type="checkbox"
                                name="box_verse_{{ verse.animation_song_id }}_{{ verse.verse_id }}"
                                id="box_verse_{{ verse.animation_song_id }}_{{ verse.verse_id }}"
                                {% if verse.selected %}checked{% endif %} />
                                {{ verse.text|slice:":25" }}
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
                <div style="text-align: right; width: 40%;">
                    {% trans "move2dot" %}
                    <select name="lis_move_to_{{ song.animation_song_id }}" style="width: 100%;">
                        <optgroup label="{% trans "before" %}">
                            {% for lis_move_to_song in animation.songs %}
                                {% if lis_move_to_song.num < song.num %}
                                    <option value="{{ lis_move_to_song.num|add:"-1" }}">
                                        {% trans "song_num" %}{{ lis_move_to_song.numD2 }} : {{ lis_move_to_song.full_title }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        <option selected="selected" value="{{ song.num }}">{% trans "dont_do_nothing" %}</option>
                        <optgroup label="{% trans "after" %}">
                            {% for lis_move_to_song in animation.songs %}
                                {% if lis_move_to_song.num > song.num %}
                                    <option value="{{ lis_move_to_song.num|add:"+1" }}">
                                        {% trans "song_num" %}{{ lis_move_to_song.numD2 }} : {{ lis_move_to_song.full_title }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                    <br>
                    <input style="width: 10%;" type="checkbox" name="box_delete_song_{{ song.animation_song_id }}" id="box_delete_song_{{ song.animation_song_id }}" 
                    onclick="if(this.checked) { return confirm('{% trans "Are you sure you want to delete this song?" %}'); }"/>
                    <label for="box_delete_song_{{ song.animation_song_id }}">{% trans "Delete" %}</label>
                </div>
            </div>
            <hr>
            <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                <div style="text-align: left;">
                    <a href="#" onclick="updateDiv({{ song.song_id }})">👁️ {% trans "See the song" %}</a>
                </div>
                <div style="text-align: right;">
                    <a href="#" onclick="if(confirm('{% trans "Changes will be lost, do you really want to leave this page?" %}'))
                        { window.location.href = '{% url "goto_song" song.song_id %}'; }">🔗 {% trans "Go to the song" %}</a>
                </div>
            </div>
        </div>
    {% endfor %}

    <br><hr><br>

    <div>
        {% trans "Song research" %}
        <input type="text" id="search" placeholder="{% trans "Type the name of a song..." %}">
        <ul id="song-list" style="max-height: 200px; overflow-y: auto;">
            <!-- Songs will be dynamically filtered here -->
        </ul>
        <input type="text" id="txt_add_songs_name" placeholder="{% trans "Selected song will appear here..." %}" readonly><br>
        <input class="hidden" type="text" id="txt_add_songs_id" name="txt_new_songs" readonly>
    </div>
    
    <br><hr><br>
    
    <input name="btn_save" value="{% trans "save" %}" type="submit" />
    <input name="btn_save_exit" value="{% trans "save_exit" %}" type="submit" />
    <input name="btn_cancel" value="{% trans "Cancel" %}" type="submit" />
</form>

<script>
    const songs = [
    {% for song in all_songs %}
        { id: {{ song.song_id }}, name: "{% if song.song_id in songs_already_in %}# {% endif %}{{ song.full_title }}" },
    {% endfor %}
    ];
  
    const searchInput = document.getElementById('search');
    const songList = document.getElementById('song-list');
    const txtAddSongsId = document.getElementById('txt_add_songs_id');
    const txtAddSongsName = document.getElementById('txt_add_songs_name');
  
    function updateSongList(query) {
      songList.innerHTML = '';
      const filteredSongs = query.length >= 3
        ? songs.filter(song => song.name.toLowerCase().includes(query.toLowerCase()))
        : songs;
  
      filteredSongs.forEach(song => {
        const li = document.createElement('li');
        li.textContent = song.name + ' - ';
  
        const link = document.createElement('a');
        link.href = 'javascript:void(0);';
        link.textContent = 'Add';
        link.addEventListener('click', () => {
          addSong(song.id, song.name);
        });
      
        li.appendChild(link);
        songList.appendChild(li);
      });
    }
  
    function addSong(songId, songName) {
      const currentIds = txtAddSongsId.value ? txtAddSongsId.value.split('|') : [];
      const currentNames = txtAddSongsName.value ? txtAddSongsName.value.split(' / ') : [];
  
      currentIds.push(songId);
      currentNames.push(songName);
  
      txtAddSongsId.value = currentIds.join('|');
      txtAddSongsName.value = currentNames.join('|');
    }
  
    searchInput.addEventListener('input', (e) => {
      updateSongList(e.target.value);
    });
  
    updateSongList('');
</script>
{% endblock content %}