{% extends "base.html" %}

{% block title %}Animation : {{ animation.name }}{% endblock title %}
{% block title_h1 %}{{ animation.name }}{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}
<div id="song-lyrics">
    Sélectionnez un chant pour voir les paroles
</div>
{% endblock bloc2 %}

{% block content %}
<script>
    const database = {};

    {% for lyrics in list_lyrics %}
    i = {{ lyrics.song_id }};
    v_title = "{{ lyrics.full_title }}";
    v_lyrics = "{{ lyrics.lyrics|safe|escapejs }}";
    database[i] = { title: v_title, lyrics: v_lyrics };
    {% endfor %}


    function updateDiv(songId) {
        const song = database[songId];
        if (song) {
            document.getElementById('song-lyrics').innerHTML = `
                <h3 class="font-bold text-xl p-4">${song.title}</h3>
                <p>${song.lyrics}</p>
            `;
        }
    }
</script>

<form method="post" action="{% url "modify_animation" animation.animation_id %}">
    {% csrf_token %}
    <div>
        <label for="id_name">Nom</label><br>
        <input type="text" name="txt_name" id="id_name" maxlength="255" value="{{ animation.name }}" style="width: 100%;" required>
    </div>
    <div>
        <label for="id_description">Description</label><br>
        <textarea name="txt_description" id="id_description" style="width: 100%;">{{ animation.description }}</textarea>
    </div>
    <div>
        <label for="id_date">Date</label><br>
        <input type="date" name="dt_date" id="id_date" maxlength="255" value="{{ animation.date|date:"Y-m-d" }}" style="width: 100%;" required>
    </div>

    {% for song in animation.songs %}
        <hr>
        <div class="mt-1 px-1 border border-pink">
            <div style="display: flex; justify-content: space-between;">
                <div style="text-align: left; width: 60%;">
                    <h2 class"mb-1"><p class="font-bold">{{ song.full_title }}</p></h2>
                    {% for song_verses in all_verses %}
                        {% if song.song_id == song_verses.song_id %}
                            {% for verse_id in song_verses.verses_id %}
                                <input style="width: 10%;" type="checkbox" name="box_verse_{{ song.animation_song_id }}_{{ verse_id }}"
                                id="box_verse_{{ song.animation_song_id }}_{{ verse_id }}" />
                                <label for="box_verse_{{ song.animation_song_id }}_{{ verse_id }}">couplet n°{{ forloop.counter }}</label>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {{ animation.verses }}
                    {% for verse in animation.verses %}
                    <br> > {{ verse.song_id }} : {{ verse.verse_id }}
                    {% endfor %}
                </div>
                <div style="text-align: right; width: 40%;">
                    Déplacer :
                    <select name="lis_move_to_{{ song.animation_song_id }}" style="width: 100%;">
                        <optgroup label="avant">
                            {% for lis_move_to_song in animation.songs %}
                                {% if lis_move_to_song.num < song.num %}
                                    <option value="{{ lis_move_to_song.num|add:"-1" }}">
                                        chant n°{{ lis_move_to_song.numD2 }} : {{ lis_move_to_song.full_title }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        <option selected="selected" value="{{ song.num }}">[ne rien faire]</option>
                        <optgroup label="après">
                            {% for lis_move_to_song in animation.songs %}
                                {% if lis_move_to_song.num > song.num %}
                                    <option value="{{ lis_move_to_song.num|add:"+1" }}">
                                        chant n°{{ lis_move_to_song.numD2 }} : {{ lis_move_to_song.full_title }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                    <br>
                    <input style="width: 10%;" type="checkbox" name="box_delete_song_{{ song.animation_song_id }}" id="box_delete_song_{{ song.animation_song_id }}" 
                    onclick="if(this.checked) { return confirm('Êtes-vous sûr de vouloir supprimer ce chant ?'); }"/>
                    <label for="box_delete_song_{{ song.animation_song_id }}">Supprimer</label>
                </div>
            </div>
            <hr>
            <a href="javascript:void(0);" onclick="updateDiv({{ song.song_id }})">Voir le chant</a>
        </div>
    {% endfor %}

    <hr>

    <div style="text-align: center;">
        <select style="width: 69%;" name="sel_song_id" style="width: 100%;">
            {% for song in all_songs %}
                <option value="{{ song.song_id }}">{% if song.song_id in songs_already_in %}# {% endif %}{{ song.full_title }}</option>
            {% endfor %}
        </select>
        <input style="width: 30%;" name="btn_new_song" value="Ajouter ce chant" type="submit" />
    </div>
    
    <hr>
    
    <input name="btn_save" value="Enregistrer" type="submit" />
    <input name="btn_save_exit" value="Enregsitrer + retour à la liste" type="submit" />
    <input name="btn_cancel" value="Annuler" type="submit" />
</form>
{% endblock content %}