{% extends "base.html" %}

{% load i18n %}

{% block title %}Animation : {{ animation.name }}{% endblock title %}
{% block title_h1 %}{{ animation.name }}{% endblock title_h1 %}
{% block bloc1 %}
{% include "common/group_selected.html" %}
<hr>
{% include "common/animation_actions.html" %}
{% endblock bloc1 %}
{% block bloc2 %}
{% for bg_image in bg_images %}
    <img onclick="document.getElementById('bg_image').src='/media/{{ bg_image.stored_path }}'; document.getElementsByName('txt_bg_image')[0].value='{{ bg_image.stored_path }}';"  style="cursor:pointer; max-width:200px; max-height:200px;"
    src="/media/{{ bg_image.stored_path }}" /><br>
    {{ bg_image.description }}<hr>
{% endfor %}
{% endblock bloc2 %}

{% block content %}
{% load static %}
    <h2 class="L_H2">{% trans "Modify background image" %}</h2>
    {% if target != "animation" %}{% trans "Song:" %} {{ song_full_title }}{% endif %}
    {% if target == "verse" %}<br>{% trans "Verse:" %} {{ verse_preview }} [...]{% endif %}
    <img id="bg_image" src="" /><br>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="txt_bg_image" />
        <input name="btn_save" value="{% trans "Save" %}" type="submit" />
        <input name="btn_return" value="{% trans "Return" %}" type="submit" />
    </form>
{% endblock content %}