{% extends "base.html" %}

{% load i18n %}

{% block title %}Animation : {{ animation.name }}{% endblock title %}
{% block title_h1 %}{{ animation.name }}{% endblock title_h1 %}
{% block bloc1 %}
{% if group_selected %}{% trans "groupe_selected1" %}{{ group_selected }}{% trans "groupe_selected2" %}{% else %}{% trans "No group selected" %}{% endif %}
<hr>
{% include "common/actions.html" %}
<hr>
{% endblock bloc1 %}
{% block bloc2 %}{% endblock bloc2 %}

{% block content %}
<h2 class="L_H2">{% trans "Modify colors" %}</h2>
{% load static %}
  <link rel="stylesheet" href="{% static 'css/classic.min.css' %}">
  <script src="{% static 'js/pickr.min.js' %}"></script>
  <div class="picker-container">
    <p>Couleur du texte :</p>
    <div id="text-color-picker"></div>
  </div>

  <div class="picker-container">
    <p>Couleur du fond :</p>
    <div id="bg-color-picker"></div>
  </div>

  <div id="preview">
    Ceci est un aperçu de votre slide personnalisée.
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const preview = document.getElementById('preview');

      const createColorPicker = (el, defaultColor, onChangeCallback) => {
        return Pickr.create({
          el: el,
          theme: 'classic',
          default: defaultColor,
          swatches: [
            '#ff0000', // Rouge
            '#00ff00', // Vert
            '#0000ff', // Bleu
            '#ffff00', // Jaune
            '#ff00ff', // Magenta
            '#00ffff', // Cyan
            '#000000', // Noir
            '#ffffff'  // Blanc
          ],
          components: {
            preview: true,
            opacity: true,
            hue: true,
            interaction: {
              hex: true,
              rgba: true,
              input: true,
              save: true
            }
          }
        }).on('change', (color) => {
          const rgbaColor = color.toRGBA().toString();
          onChangeCallback(rgbaColor);
        });
      };

      createColorPicker('#text-color-picker', '#000000', (color) => {
        const rgba = color.toRGBA().toString();
        preview.style.color = rgba;
        textColorValue.textContent = `Texte : ${rgba}`;
      }, [
        '#ff0000', '#00ff00', '#0000ff', '#ffff00',
        '#ff00ff', '#00ffff', '#000000', '#ffffff'
      ]);
      
      createColorPicker('#bg-color-picker', '#ffffff', (color) => {
        const rgba = color.toRGBA().toString();
        preview.style.backgroundColor = rgba;
        bgColorValue.textContent = `Fond : ${rgba}`;
      }, [
        '#ff0000', '#00ff00', '#0000ff', '#ffff00',
        '#ff00ff', '#00ffff', '#000000', '#ffffff'
      ]);
      
    });
  </script>
{% endblock content %}