{% extends "base.html" %}

{% load i18n %}

{% block title %}Animation : {{ animation.name }}{% endblock title %}
{% block title_h1 %}{{ animation.name }}{% endblock title_h1 %}
{% block bloc1 %}
{% if group_selected %}{% trans "groupe_selected1" %}{{ group_selected }}{% trans "groupe_selected2" %}{% else %}{% trans "No group selected" %}{% endif %}
<hr>
{% include "common/animation_actions.html" %}
<hr>
{% endblock bloc1 %}
{% block bloc2 %}
<div id="preview" style="color: {{ animation.color_rgba }}; Background: {{ animation.bg_rgba }}" class="p-10">
  {% trans "text_test" %}
</div>
{% endblock bloc2 %}

{% block content %}
{% load static %}
    <h2 class="L_H2">{% trans "Modify colors" %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="picker-container">
            <label><h3 class="L_H3">{% trans "Text color:" %}</h3></label>
            <div id="text-color-picker"></div>
            <input type="text" name="text_color" id="text-color-input" value="{{ animation.color_rgba }}" readonly>
        </div>

        <div class="picker-container">
            <label><h3 class="L_H3">{% trans "Background color:" %}</h3></label>
            <div id="bg-color-picker"></div>
            <input type="text" name="bg_color" id="bg-color-input" value="{{ animation.bg_rgba }}" readonly>
        </div>

        <input name="btn_save" value="{% trans "save" %}" type="submit" />
    </form>

    <link rel="stylesheet" href="{% static 'css/classic.min.css' %}">
  <script src="{% static 'js/pickr.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const preview = document.getElementById('preview');
            const textInput = document.getElementById('text-color-input');
            const bgInput = document.getElementById('bg-color-input');

            const createColorPicker = (selector, defaultColor, callback) => {
                return Pickr.create({
                    el: selector,
                    theme: 'classic',
                    default: defaultColor,
                    swatches: [
                        'rgba(244, 67, 54, 1)',
                        'rgba(233, 30, 99, 0.95)',
                        'rgba(156, 39, 176, 0.9)',
                        'rgba(103, 58, 183, 0.85)',
                        'rgba(63, 81, 181, 0.8)',
                        'rgba(33, 150, 243, 0.75)',
                        'rgba(0, 188, 212, 0.7)',
                        'rgba(0, 150, 136, 0.7)'
                    ],
                    components: {
                        preview: true,
                        opacity: true,
                        hue: true,
                        interaction: {
                            hex: true,
                            rgba: true,
                            input: true,
                            save: true
                        }
                    }
                }).on('change', (color) => {
                    const rgba = color.toRGBA().toString();
                    callback(rgba);
                });
            };

            createColorPicker('#text-color-picker', '{{ animation.color_rgba }}', (rgba) => {
                preview.style.color = rgba;
                textInput.value = rgba;
            });

            createColorPicker('#bg-color-picker', '{{ animation.bg_rgba }}', (rgba) => {
                preview.style.backgroundColor = rgba;
                bgInput.value = rgba;
            });
        });
    </script>


{% endblock content %}