<footer style="height: 33px; margin-top: 0px; padding-top: 0px;" class="py-4 w-full relative bottom-auto md:fixed md:bottom-1 text-red border-4 border-turquoise bg-white dark:bg-cyan-950">
    <div class="pl-5 lg:hidden">
        {{ company_name_small }}
    </div>
    
    <div class="pl-5 hidden lg:block">
        {{ company_name }}
    </div>
</footer>

<div class="p-1 md:p-4 fixed bottom-1 right-1 bg-cyan-300 text-cyan-900 text-xl dark:bg-cyan-900 dark:text-cyan-400 md:bottom-7 md:right-5 md:text-5xl rounded-tl-lg rounded-br-lg">
    <a href="#">⬆️</a>
</div>
