{% load static %}
{% load i18n %}

<header class="L_BOX_HEADER py-4">
    <nav class="pl-5 container mx-auto flex items-center h-full flex-nowrap">
        <div class="flex flex-nowrap" style="margin-top: -0.3rem;">
            <a href="{% url "homepage" %}"><img src="{% static "images/Lyrics.png" %}" alt="✞" style="width:40px;height:40px;"></a>
            {% include "includes/nav.html" %}
        </div>

        <!-- Right side (push with ml-auto) -->
        <div class="ml-auto flex flex-nowrap">
            {% if user.is_authenticated %}
                        <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url 'account_logout' %}"><span class="text-3xl">⥇</span> {% trans "nav_account_logout" %}</a>
                        <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url 'account_logout' %}"><span class="text-3xl">⥇</span></a>
            {% else %}
                        <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url 'account_login' %}"><span class="text-3xl">⇴</span> {% trans "nav_login" %}</a>
                        {% if request.path == '/account/login/' %}
                                <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url 'account_signup' %}"><span class="text-3xl">⥅</span> {% trans "nav_signup" %}</a>
                        {% endif %}
                        <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url 'account_login' %}"><span class="text-3xl">⇴</span></a>
                        {% if request.path == '/account/login/' %}
                                <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url 'account_signup' %}"><span class="text-3xl">⥅</span></a>
                        {% endif %}
            {% endif %}

            {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="NAV L_LINK_HEADER"><span class="text-3xl"></span>👤 <b>{{ user.username }}</b>
            {% if user.is_staff %}⚖️{% endif %}</a>
            {% endif %}
            
            <a id="a_languages" href="#"
            onclick="toggleDivDisplay('div_languages', 'a_languages', '{% trans "language_flag" %}', ''); return false;"
            class="NAV L_LINK_HEADER">
                <span class="text-3xl"></span>
                <span class="font-arial">{% trans "language_flag" %}</span>
            </a>
            <div id="div_languages" style="display : none;">
                <a href="{% url 'set_language' %}?language=fr" class="block px-4 py-2 hover:bg-gray-100 NAV L_LINK_HEADER">
                    <span class="font-arial">🇫🇷</span> Français
                </a>
                <a href="{% url 'set_language' %}?language=en" class="block px-4 py-2 hover:bg-gray-100 NAV L_LINK_HEADER">
                    <span class="font-arial">🇬🇧</span> English
                </a>
                <a href="#" class="NAV L_LINK_HEADER"
                onclick="toggleDivDisplay('div_languages', 'a_languages', '{% trans "language_flag" %}', ''); return false;">
                    {% trans "close" %}
                </a>
            </div>
            {% comment %} 🇫🇷🇬🇧 {% endcomment %}
        </div>
    </nav>
</header>
