{% comment %} https://symbl.cc/fr/ {% endcomment %}
{% load i18n %}

{% comment %} <a class="NAV mx-2 hidden md:block" href="{% url "homepage" %}">🏠<span class="text-3xl"></span> {% trans "nav_home" %}</a> {% endcomment %}
{% if user.is_authenticated %}
            <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url "groups" %}">👥<span class="text-3xl"></span> {% trans "nav_groups_list" %}</a>
            <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url "songs" %}">🎼<span class="text-3xl"></span> {% trans "nav_songs_list" %}</a>
            <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url "animations" %}">🗣️<span class="text-3xl"></span> {% trans "nav_animations_list" %}</a>
            <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url 'account_logout' %}"><span class="text-3xl">⥇</span> {% trans "nav_account_logout" %}</a>
{% else %}
            <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url "groups" %}">👥<span class="text-3xl"></span> {% trans "nav_groups_list" %}</a>
            <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url "songs" %}">🎼<span class="text-3xl"></span> {% trans "nav_songs_list" %}</a>
            <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url "animations" %}">🗣️<span class="text-3xl"></span> {% trans "nav_animations_list" %}</a>
            <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url 'account_login' %}"><span class="text-3xl">⇴</span> {% trans "nav_login" %}</a>
            {% if request.path == '/account/login/' %}
                    <a class="NAV mx-2 hidden md:block L_LINK_HEADER" href="{% url 'account_signup' %}"><span class="text-3xl">⥅</span> {% trans "nav_signup" %}</a>
            {% endif %}
{% endif %}

{% comment %} SMARTPHONE {% endcomment %}
{% comment %} <a class="NAV mx-2 block md:hidden" href="{% url "homepage" %}">🏠</a> {% endcomment %}
{% if user.is_authenticated %}
            <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url "groups" %}">👥<span class="text-3xl"></span></a>
            <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url "songs" %}">🎼<span class="text-3xl"></span></a>
            <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url "animations" %}">🗣️<span class="text-3xl"></span></a>
            <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url 'account_logout' %}"><span class="text-3xl">⥇</span></a>
{% else %}
            <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url "groups" %}">👥<span class="text-3xl"></span></a>
            <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url "songs" %}">🎼<span class="text-3xl"></span></a>
            <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url "animations" %}">🗣️<span class="text-3xl"></span></a>
            <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url 'account_login' %}"><span class="text-3xl">⇴</span></a>
            {% if request.path == '/account/login/' %}
                    <a class="NAV mx-2 block md:hidden L_LINK_HEADER" href="{% url 'account_signup' %}"><span class="text-3xl">⥅</span></a>
            {% endif %}
{% endif %}