{% load static %}
<picture class="{{ picture_class|default:'' }}" data-theme-icon="{{ icon_name }}" data-theme-alt="{{ icon_alt|default:'' }}">
    <source
        data-theme-size="128"
        data-theme-mode="dark"
        srcset="{% static 'icons/ui/normal/128/dark/'|add:icon_name|add:'.png' %}"
        media="(min-width: 1025px) and (prefers-color-scheme: dark)"
    >
    <source
        data-theme-size="128"
        data-theme-mode="light"
        srcset="{% static 'icons/ui/normal/128/light/'|add:icon_name|add:'.png' %}"
        media="(min-width: 1025px) and (prefers-color-scheme: light)"
    >
    <source
        data-theme-size="64"
        data-theme-mode="dark"
        srcset="{% static 'icons/ui/normal/64/dark/'|add:icon_name|add:'.png' %}"
        media="(max-width: 1024px) and (prefers-color-scheme: dark)"
    >
    <source
        data-theme-size="64"
        data-theme-mode="light"
        srcset="{% static 'icons/ui/normal/64/light/'|add:icon_name|add:'.png' %}"
        media="(max-width: 1024px) and (prefers-color-scheme: light)"
    >
    <img
        class="{{ img_class|default:'' }}"
        src="{% static 'icons/ui/normal/64/light/'|add:icon_name|add:'.png' %}"
        alt="{{ icon_alt|default:'' }}"
    >
</picture>
