{% extends "base.html" %}

{% block title %}Confirmer la suppression du chant{% endblock title %}
{% block title_h1 %}Confirmer la suppression du chant{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}{% endblock bloc2 %}

{% block content %}
<p>Confirmer la suppression du chant <i>{{ song.title }}</i></p>
<form method="post" action="{% url "delete_song" song.id %}">
    {% csrf_token %}
    <hr>
    <div class="text-center">
        <input style="width: 45%;" name="delete" value="Supprimer" type="submit" />
        <input style="width: 45%;" name="cancel" value="Annuler" type="submit" />
    </div>
</form>  
{% endblock content %}