{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{{ site.title }}{% endblock title %}
{% block title_h1 %}{{ site.title_h1 }}{% endblock title_h1 %}
{% block bloc1 %}
<p>{{ site.bloc1_text|safe }}</p>
<hr>
<h3 class="L_H3">{% trans "Themes" %}</h2>
<a href="{% url 'theme_normal' %}">Normal (taizé)</a><br>
<a href="{% url 'theme_scout' %}">Scout</a><br>
{% if moderator %}
<hr>
<a href={% url 'bands' %}>{% trans "Modify bands" %}</a><br>
<a href={% url 'artists' %}>{% trans "Modify artists" %}</a><br>
{% endif %}
{% if admin %}
{% endif %}
{% endblock bloc1 %}
{% block bloc2 %}
<p>{{ site.bloc2_text|safe }}</p>
<img class="w-72" src="{% static "images/Lyrics.png" %}"><br>
{% trans "powered by" %}<br>
<img class="w-72" src="{% static "images/cARThographie.gif" %}"><br>
{% endblock bloc2 %}

{% block content %}
<p>{{ site.home_text|safe }}</p>

{% if moderator %}
    <hr>
    <h2 class="L_H2">{% trans "Moderator" %}</h2>
    <h3 class="L_H3">{% trans "List of songs to be moderated" %}</h3>
    <ul>
        {% for song in songs %}
        <li><a href="{% url 'modify_song' song.song_id %}">{{ song.full_title }}</a></li>
        {% endfor %}
    </ul>
    <h4 class="L_H4">{% trans "Song statistics" %}</h4>
    <p>{{ approved_songs_stats.approved_percent|floatformat:1 }}&#8239;% {% trans "songs approved" %}
    ({{ approved_songs_stats.approved_songs }} / {{ approved_songs_stats.total_songs }})</p><br>
    <a id="modify_homepage"></a>
    <h3 class="L_H3">{% trans "Modify homepage" %}</h3>
    {% if modify_homepage %}
        <form method="post" action="{% url "homepage" %}">
            {% csrf_token %}
            <label>{% trans "Moderator message" %}
            <textarea id="txt_moderator_message" name="txt_moderator_message">{{ site.moderator_message }}</textarea><br>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '⚠️ '; return false;">⚠️</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🚧 '; return false;">🚧</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🚨 '; return false;">🚨</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '❗ '; return false;">❗</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '❌ '; return false;">❌</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🚫 '; return false;">🚫</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '⛔ '; return false;">⛔</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🛠️ '; return false;">🛠️</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🔧 '; return false;">🔧</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '⚙️ '; return false;">⚙️</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '⏳ '; return false;">⏳</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🔒 '; return false;">🔒</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🔓 '; return false;">🔓</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🛡️ '; return false;">🛡️</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🕵️ '; return false;">🕵️</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🐛 '; return false;">🐛</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '✅ '; return false;">✅</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🟢 '; return false;">🟢</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🟠 '; return false;">🟠</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🔴 '; return false;">🔴</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🆗 '; return false;">🆗</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '🎉 '; return false;">🎉</a>
            <a href="#" onclick="document.getElementById('txt_moderator_message').value += '👉 '; return false;">👉</a>
            </label>
            <div>
                <label for="id_title">{% trans "Title &#60;head&#62;" %}</label><br>
                <input type="text" name="txt_title" id="id_title" maxlength="255" value="{{ site.title }}" style="width: 100%;" required>
            </div>
            <div>
                <label for="id_title_h1">{% trans "Title &#60;h1&#62;" %}</label><br>
                <input type="text" name="txt_title_h1" id="id_title_h1" maxlength="255" value="{{ site.title_h1 }}" style="width: 100%;" required>
            </div>
            <div>
                <label for="id_home_text">{% trans "Home text" %}</label><br>
                <textarea name="txt_home_text" id="id_home_text" style="width: 100%;" rows="10">{{ site.home_text }}</textarea>
            </div>
            <div>
                <label for="id_bloc1_text">{% trans "Bloc1 text: on left" %}</label><br>
                <textarea name="txt_bloc1_text" id="id_bloc1_text" style="width: 100%;" rows="5">{{ site.bloc1_text }}</textarea>
            </div>
            <div>
                <label for="id_bloc2_text">{% trans "Bloc2 text: on right" %}</label><br>
                <textarea name="txt_bloc2_text" id="id_bloc2_text" style="width: 100%;" rows="3">{{ site.bloc2_text }}</textarea>
            </div>

            <br><hr><br>
        
            <input name="btn_save_homepage" value="{% trans "save" %}" type="submit" />
            <input name="btn_cancel" value="{% trans "Cancel" %}" type="submit" />
        </form>
    {% else %}
        <a href="{% url 'homepage' %}?modify_homepage#modify_homepage">{% trans "Modify homepage" %}</a>
    {% endif %}
{% endif %}
{% if admin %}
    <hr>
    <h2 class="L_H2">{% trans "Administrator" %}</h2>
    <a id="modify_site_params"></a>
    <h3 class="L_H3">{% trans "Site params" %}</h3>
    {% if modify_site_params %}
        <form method="post" action="{% url "homepage" %}">
            {% csrf_token %}
            <label>{% trans "Admin message" %}
            <textarea id="txt_admin_message" name="txt_admin_message">{{ site.admin_message }}</textarea><br>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '⚠️ '; return false;">⚠️</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🚧 '; return false;">🚧</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🚨 '; return false;">🚨</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '❗ '; return false;">❗</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '❌ '; return false;">❌</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🚫 '; return false;">🚫</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '⛔ '; return false;">⛔</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🛠️ '; return false;">🛠️</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🔧 '; return false;">🔧</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '⚙️ '; return false;">⚙️</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '⏳ '; return false;">⏳</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🔒 '; return false;">🔒</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🔓 '; return false;">🔓</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🛡️ '; return false;">🛡️</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🕵️ '; return false;">🕵️</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🐛 '; return false;">🐛</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '✅ '; return false;">✅</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🟢 '; return false;">🟢</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🟠 '; return false;">🟠</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🔴 '; return false;">🔴</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🆗 '; return false;">🆗</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '🎉 '; return false;">🎉</a>
            <a href="#" onclick="document.getElementById('txt_admin_message').value += '👉 '; return false;">👉</a>
            </label>
            <div>
                <label for="id_verse_max_lines">{% trans "Max lines" %}</label><br>
                <select name="sel_verse_max_lines" id="id_verse_max_lines" style="width: 100%;">
                    {% for value in site_params_max_lines %}
                        <option value="{{ value }}"{% if site.verse_max_lines == value %} selected{% endif %}>
                            {{ value }} {% trans "lines" %}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="id_site_params_max_characters_for_a_line">{% trans "Max characters for a line" %}</label><br>
                <select name="sel_site_params_max_characters_for_a_line" id="id_site_params_max_characters_for_a_line"
                style="width: 100%;">
                    {% for value in site_params_max_characters_for_a_line %}
                        <option value="{{ value }}"{% if site.verse_max_characters_for_a_line == value %} selected{% endif %}>
                            {{ value }} {% trans "characters" %}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>{% trans "Chorus prefix: " %}
                    <input type="text" name="txt_chorus_prefix" value="{{ site.chorus_prefix }}" style="width: 10%;" maxlength="10" />
                </label><br>
                <label>{% trans "Verse prefix 1: " %}
                    <input type="text" name="txt_verse_prefix1" value="{{ site.verse_prefix1 }}" style="width: 10%;" maxlength="10" />
                </label><br>
                <label>{% trans "Verse prefix 2: " %}
                    <input type="text" name="txt_verse_prefix2" value="{{ site.verse_prefix2 }}" style="width: 10%;" maxlength="3" />
                </label><br><br>
                <b><i>{% trans "Examples:" %}</i></b><br>
                <b><i>{{ site.chorus_prefix }}</i></b>{% trans "my chorus" %}<br>
                <b><i>{{ site.verse_prefix1 }}1{{ site.verse_prefix2 }}</i></b>{% trans "my verse" %}
            </div>

            <br><hr><br>
        
            <input name="btn_save_site_params" value="{% trans "save" %}" type="submit" />
            <input name="btn_cancel" value="{% trans "Cancel" %}" type="submit" />
        </form>
    {% else %}
        <a href="{% url 'homepage' %}?modify_site_params#modify_site_params">{% trans "Modify site params" %}</a>
    {% endif %}
{% endif %}
{% endblock content %}
