{% extends "base.html" %}

{% block title %}Chant : {{ song.title }}{% endblock title %}
{% block title_h1 %}{{ song.title }}{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}{{ song_lyrics|safe }}{% endblock bloc2 %}

{% block content %}
<form method="post" action="{% url "modify_song" song.song_id %}">
    {% csrf_token %}
    <div>
        <label for="id_title">Titre</label><br>
        <input type="text" name="txt_title" id="id_title" maxlength="255" value="{{ song.title }}" required style="width: 100%;">
    </div>
    <div>
        <label for="id_sub_title">Sous-titre</label><br>
        <input type="text" name="txt_sub_title" id="id_sub_title" maxlength="255" value="{{ song.sub_title }}" style="width: 100%;">
    </div>
    <div>
        <label for="id_description">Description</label><br>
        <textarea name="txt_description" id="id_description" style="width: 100%;">{{ song.description }}</textarea>
    </div>

    {% for verse in verses %}
        <div class="mt-1 px-1 border border-pink">
            <div style="display: flex; justify-content: space-between;">
                <div style="text-align: left; width: {% if verse.chorus %}75%{% else %}50%{% endif %};">
                    <input style="width: 10%;" type="checkbox" name="box_verse_chorus_{{ verse.verse_id }}"
                    id="box_verse_chorus_{{ verse.verse_id }}" {% if verse.chorus %}checked{% endif %} />
                    <label for="box_verse_chorus_{{ verse.verse_id }}">Refrain</label>

                    <input style="width: 10%;" type="checkbox" name="box_verse_followed_{{ verse.verse_id }}"
                    id="box_verse_followed_{{ verse.verse_id }}" {% if verse.followed %}checked{% endif %} />
                    <label for="box_verse_followed_{{ verse.verse_id }}">Suivi</label>
                </div>
                {% if not verse.chorus %}
                <div style="text-align: center; width: 25%;">
                    <b>couplet n°{{ verse.num_verse }}</b>
                </div>
                {% endif %}
                <div style="text-align: right; width: 25%;">
                    <input style="width: 10%;" type="checkbox" name="box_delete_{{ verse.verse_id }}"
                    id="box_delete_{{ verse.verse_id }}" />
                    <label for="box_delete_{{ verse.verse_id }}">Supprimer</label>
                </div>
            </div>
            
            <textarea name="txt_verse_text_{{ verse.verse_id }}" rows="3">{% if verse.text %}{{ verse.text }}{% endif %}</textarea>
        </div>
    {% endfor %}

    <hr>
    <input name="btn_new_chorus" value="Nouveau refrain/couplet" type="submit" />
    <hr>

    <input name="btn_save" value="Enregistrer" type="submit" />
    <input name="btn_save_exit" value="Enregsitrer + retour à la liste" type="submit" />
    <input name="btn_cancel" value="Annuler" type="submit" />
</form>
{% endblock content %}