{% extends "base.html" %}

{% block title %}Chant : {{ song.title }}{% endblock title %}
{% block title_h1 %}{{ song.title }}{% endblock title_h1 %}

{% block content %}
<form method="post" action="{% url "modify_song" song.id %}">
    {% csrf_token %}
    <div>
        <label for="id_title">Titre</label><br>
        <input type="text" name="title" id="id_title" maxlength="255" value="{{ song.title }}" required style="width: 100%;">
        </div>
        <div>
        <label for="id_description">Description</label><br>
        <textarea name="description" id="id_description" style="width: 100%;">{{ song.description }}</textarea>
    </div>
    <hr>
    {% for verse in verses %}
        <input type="hidden" name="verse_id_{{ forloop.counter0 }}" value="{{ verse.id }}">
        <label for="verse_num_{{ forloop.counter0 }}">Numéro :</label>
        <input type="text" name="verse_num_{{ forloop.counter0 }}" value="{{ verse.num }}"><br>
        
        <label for="verse_chorus_{{ forloop.counter0 }}">Chorus :</label>
        <input type="checkbox" name="verse_chorus_{{ forloop.counter0 }}" {% if verse.chorus %}checked{% endif %}><br>
        
        <label for="verse_text_{{ forloop.counter0 }}">Texte :</label>
        <textarea name="verse_text_{{ forloop.counter0 }}">{{ verse.text }}</textarea><br>
    {% endfor %}
    <hr>
    <input name="new_chorus" value="Nouveau refrain/couplet" type="submit" />
    <hr>
    <input name="save" value="Enregistrer" type="submit" />
    <input name="save_exit" value="Enregsitrer + retour à la liste" type="submit" />
    <input name="cancel" value="Annuler" type="submit" />
</form>
{% endblock content %}