{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "Privacy policy" %}{% endblock title %}
{% block title_h1 %}{% trans "Privacy policy" %}{% endblock title_h1 %}
{% block bloc1 %}

{% endblock bloc1 %}
{% block bloc2 %}
<img class="w-72" src="{% static "images/Lyrics.png" %}">
{% endblock bloc2 %}

{% block content %}
<h2 class="L_H2">{% trans "privacy_policy_intro_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_intro_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_1_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_1_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_2_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_2_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_3_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_3_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_4_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_4_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_5_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_5_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_6_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_6_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_7_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_7_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_8_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_8_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_9_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_9_content" %}</p>
<hr><h2 class="L_H2">{% trans "privacy_policy_article_10_title" %}</h2>
<p class="text-justify">{% trans "privacy_policy_article_10_content" %}</p>

{% endblock content %}
