{% extends "base.html" %}

{% block title %}Liste des chants{% endblock title %}
{% block title_h1 %}Liste des chants{% endblock title_h1 %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.description }}</td>
            <td>
                <a href="{% url 'modify_song' song.id %}">Modifier</a> |
                <a href="{% url 'delete_song' song.id %}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post">
                {% csrf_token %}
                <td><input type="text" name="title" placeholder="Nouveau chant" maxlength="255" {% if title != '' %}value="{{ title }}"{% endif %} required /></td>
                <td><input type="text" name="description" placeholder="Description" {% if description != '' %}value="{{ description }}"{% endif %} /></td>
                <td><input name="new_song" value="Ajouter" type="submit" /></td>
            </form>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    {% if form.errors.title %}
        <div class="error">
            <p>{{ form.errors.title }}</p>
        </div>
    {% endif %}
</table>
{% endblock content %}
