{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "confirm_delete_song_title" %}{% endblock title %}
{% block title_h1 %}{% trans "confirm_delete_song_title" %}{% endblock title_h1 %}
{% block bloc1 %}
{% include "common/song_actions.html" %}
{% endblock bloc1 %}
{% block bloc2 %}{% include "common/song_meta.html" %}{{ song_lyrics|safe }}{% endblock bloc2 %}

{% block content %}
<p>{% trans "confirm_delete_song_2dot" %}<b><i>{{ song.title }}{% if song.sub_title %} - {{ song.sub_title }}{% endif %}</i></b></p>
<form method="post" action="{% url "delete_song" song.song_id %}">
    {% csrf_token %}
    <hr>
    <div class="text-center">
        <input style="width: 45%;" name="btn_delete" value="{% trans "btn_delete" %}" type="submit" />
        <input style="width: 45%;" name="btn_cancel" value="{% trans "btn_cancel" %}" type="submit" />
    </div>
</form>
{% endblock content %}