{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "song2dot" %}{{ song.title }}{% endblock title %}
{% block title_h1 %}{{ song.full_title }}{% endblock title_h1 %}
{% block bloc1 %}
    {% include "common/song_actions.html" %}
    <hr>
    {% for link in song.links %}
        🔗 <a href="{{ link|first }}">{{ link|last }}</a><br>
    {% endfor %}
{% endblock bloc1 %}
{% block bloc2 %}
{% if song.artist %}
{% trans "Artist:" %} {{ song.artist }}
<hr>
{% endif %}
{{ song.description|linebreaksbr|safe }}
{% endblock bloc2 %}

{% block content %}
{{ song_lyrics|safe }}
{% endblock content %}