{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "song2dot" %}{{ song.title }}{% endblock title %}
{% block title_h1 %}{{ song.full_title }}{% endblock title_h1 %}
{% block bloc1 %}
{% include "common/song_actions.html" %}
{% endblock bloc1 %}
{% block bloc2 %}
{% include "common/song_genres.html" %}

{% if song.artist %}
<hr>
{% trans "Artist:" %} {{ song.artist }}
{% endif %}

{% if song.description %}
<hr>
{{ song.description|linebreaksbr|safe }}
{% endif %}

{% if song_messages %}
<hr>
<h3 class="L_H3">⁉️ {% trans "Messages:" %}</h3>
{% for message in song_messages %}
<p><strong>{{ message.date|date:"d/m/Y H:i" }}</strong></p>
<p>{{ message.message }}</p>
{% endfor %}
{% endif %}
{% endblock bloc2 %}

{% block content %}
{{ song_lyrics|safe }}
{% endblock content %}