{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "song2dot" %}{{ song.title }}{% endblock title %}
{% block title_h1 %}{{ song.full_title }}{% endblock title_h1 %}
{% block bloc1 %}
    {% trans "contact_moderators_info_gen" %}
    <hr>
    {% for link in song.links %}
        <a href="{{ link|first }}">{{ link|last }}</a><br>
    {% endfor %}
{% endblock bloc1 %}
{% block bloc2 %}
{% if song_messages %}
<h3 class="L_H3">⁉️ {% trans "Messages:" %}</h3>
{% for message in song_messages %}
<p><strong>{{ message.date|date:"d/m/Y H:i" }}</strong></p>
<p>{{ message.message }}</p>
{% endfor %}
<hr>
{% endif %}
{% include "common/song_meta.html" %}
{{ song_lyrics|safe }}
{% endblock bloc2 %}

{% block content %}
{% if valided %}
    <div>{% trans "Message saved" %}</div>
    <div><a href="{% url 'goto_song' song.song_id %}">{% trans "Back to the song" %}</a></div>
{% else %}
    <form method="post" action="{% url "moderator_song" song.song_id %}">
        {% csrf_token %}
        <div>
            <label for="id_message">{% trans "Message" %}</label><br>
            <textarea name="txt_message" rows="10" id="id_message" style="width: 100%;" required ></textarea>
        </div>
        
        <input name="btn_save" value="{% trans "save" %}" type="submit" />
    </form>
    <form method="post" action="{% url "goto_song" song.song_id %}">
        {% csrf_token %}
        <input name="btn_cancel" value="{% trans "Cancel" %}" type="submit" />
    </form>
{% endif %}
{% endblock content %}