{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "song2dot" %}{{ song.title }}{% endblock title %}
{% block title_h1 %}{{ song.full_title }}{% endblock title_h1 %}
{% block bloc1 %}
    {% include "common/song_actions.html" %}
    <hr>
    {% if moderator %}
        <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('new_messages')">{% trans "New messages" %} 💬</button><br>
        <div id="new_messages" class="hidden">
            {% if mod_new_messages|length == 0 %}{% trans "No message" %} 🤷{% endif %}
            {% for message in mod_new_messages %}
                <p><strong>{{ message.date|date:"d/m/Y H:i" }}</strong></p>
                <textarea readonly rows="4" style="width: 100%;">{{ message.message }}</textarea>
                <div id="div_message_id_{{ message.id }}">
                <button type="button" onclick="document.getElementById('txt_message_id_list').value += '{{ message.id }}|';
                toggleVisibility('div_message_id_{{ message.id }}')">
                    {% trans "Done" %} 🫡</button>
                </div><br>
            {% endfor %}
        </div>
        <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('old_messages')">{% trans "Old messages" %} 💭</button><br>
        <div id="old_messages" class="hidden">
            {% if mod_old_messages|length == 0 %}{% trans "No message" %} 🤷{% endif %}
            {% for message in mod_old_messages %}
                <p><strong>{{ message.date|date:"d/m/Y H:i" }}</strong></p>
                <textarea readonly rows="4" style="width: 100%;">{{ message.message }}</textarea>
                <div id="div_message_id_{{ message.id }}">
                </div><br>
            {% endfor %}
        </div>
        <hr>
    {% endif %}
    <a id="help_rules"></a>
    {% trans "verse_rules" %}<br>
    📏 {% trans "verse_rule_1" %} <b>{{ verse_max_lines }}</b><br>
    📏 {% trans "verse_rule_2" %} <b>{{ verse_max_characters_for_a_line }}</b>
{% endblock bloc1 %}
{% block bloc2 %}{% include "common/song_meta.html" %}{{ song_lyrics|safe }}{% endblock bloc2 %}

{% block content %}
{% load static %}
<script src="{% static 'js/data_protect_leave.js' %}"></script>
<form method="post" data-protect-leave="true" action="{% url "modify_song" song.song_id %}#new_verse">
    {% csrf_token %}
    {% if moderator %}
        <div>
            {% if song.status == 2 %}
            <input class="w-4 h-4" style="width: 5%;" type="checkbox" checked="checked" disabled="disabled" />
            <input class="hidden" style="width: 5%;" type="checkbox" name="box_song_approved" id="box_song_approved" checked="checked" />
            <label for="box_song_approved" title="{% trans "song_approved_info" %}">{% trans "Song approved" %}</label>
            {% else %}
            <input class="w-4 h-4" style="width: 5%;" type="checkbox" name="box_song_approved"
            id="box_song_approved"{% if song.status >= 1 %} checked="checked"{% endif %} />
            <label for="box_song_approved" title="{% trans "song_approved_info" %}">{% trans "Song approved" %}</label>
            {% endif %}
        </div>
        <input class="hidden" type="text" id="txt_message_id_list" name="txt_message_id_list" readonly="readonly">
        <hr>
    {% endif %}
    <div>
        <label for="id_title">{% trans "title" %}</label><br>
        <input type="text" name="txt_title" id="id_title" maxlength="255" value="{{ song.title }}" required style="width: 100%;">
    </div>
    <div>
        <label for="id_sub_title">{% trans "subtitle" %}</label><br>
        <input type="text" name="txt_sub_title" id="id_sub_title" maxlength="255" value="{{ song.sub_title }}" style="width: 100%;">
    </div>
    <div>
        <label for="id_description">{% trans "description" %}</label><br>
        <textarea name="txt_description" id="id_description" style="width: 100%;">{{ song.description }}</textarea>
    </div>
    <div>
        <label>
        <input type="checkbox" name="box_licensed" id="box_licensed"
        {% if song.licensed %}checked="checked"{% endif %} style="width: 5%;" />
        {% trans "Licensed" %}
        </label>
    </div><br>
    <input name="btn_save" value="{% trans "save" %}" type="submit" /><br>
    <input name="btn_save_exit" value="{% trans "song_save_exit" %}" type="submit" />

    <hr>

    {% for verse in verses %}
        {% if verse.max_lines %}
            <span class="L_HIGHLIGHT_GREEN">
                📏 <a class="L_HIGHLIGHT_GREEN" href="#help_rules">{% trans "Too many lines" %}</a>
            </span>&nbsp;
        {% endif %}
        {% if verse.max_characters_for_a_line %}
            <span class="L_HIGHLIGHT_GREEN">
                📏 <a class="L_HIGHLIGHT_GREEN" href="#help_rules">{% trans "Too many characters for a line" %}</a>
            </span>
        {% endif %}
        <div class="mt-1 px-1 border L_DIV_BORDER">
            {% if forloop.last and new_verse %}<a id="new_verse"></a>{% endif %}
            <div style="display: flex; justify-content: space-between;">
                <div style="text-align: left; width: 40%;">
                    <input style="width: 10%;" type="checkbox" name="box_verse_chorus_{{ verse.verse_id }}"
                    id="box_verse_chorus_{{ verse.verse_id }}" {% if verse.chorus == 1 %}checked{% endif %} />
                    <label for="box_verse_chorus_{{ verse.verse_id }}">{% trans "chorus" %}</label>
                    
                    {% if verse.chorus != 1 %}
                        <br><input style="width: 10%;" type="checkbox" name="box_verse_followed_{{ verse.verse_id }}"
                        id="box_verse_followed_{{ verse.verse_id }}" {% if verse.followed %}checked{% endif %} />
                        <label for="box_verse_followed_{{ verse.verse_id }}" title="{% trans "Use this option for not display chorus after" %}">{% trans "followed" %}</label>
                        <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('info1')">ⓘ</button>
                        <span id="info1" class="hidden text-xs">{% trans "Use this option for not display chorus after" %}</span>
                        <br><input style="width: 10%;" type="checkbox" name="box_verse_notcontinuenumbering_{{ verse.verse_id }}"
                        id="box_verse_notcontinuenumbering_{{ verse.verse_id }}" {% if verse.notcontinuenumbering %}checked{% endif %} />
                        <label for="box_verse_notcontinuenumbering_{{ verse.verse_id }}" title="{% trans "Not continue numbering" %}">{% trans "Not C. num" %}</label>
                        <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('info2')">ⓘ</button>
                        <span id="info2" class="hidden text-xs">{% trans "Not continue numbering" %}</span>
                        <br><input style="width: 10%;" type="checkbox" name="box_verse_like_chorus_{{ verse.verse_id }}"
                        id="box_verse_like_chorus_{{ verse.verse_id }}" {% if verse.like_chorus != 0 %}checked{% endif %} />
                        <label for="box_verse_like_chorus_{{ verse.verse_id }}">{% trans "like_a_chorus" %}</label>
                        {% comment %} <br><input style="width: 10%;" type="checkbox" name="box_verse_notdisplaychorusnext_{{ verse.verse_id }}" {% endcomment %}
                        {% comment %} id="box_verse_notdisplaychorusnext_{{ verse.verse_id }}" {% if verse.notdisplaychorusnext %}checked{% endif %} /> {% endcomment %}
                        {% comment %} <label for="box_verse_notdisplaychorusnext_{{ verse.verse_id }}" title="{% trans "This feature only works if “Like a chorus” is ticked" %}">{% trans "Do not display the chorus after ⓘ" %}</label> {% endcomment %}
                    {% endif %}
                </div>
                <div style="text-align: center; width: 25%;">
                    {% if verse.chorus != 1 %}
                        <b>{% trans "verse_num" %}{{ verse.num_verse }}</b>
                    {% endif %}
                    {% if verse.like_chorus == 1 %}
                    <br>
                    <label>
                        {% trans "Prefix" %}
                        <input type="text" id="txt_prefix_{{ verse.verse_id }}" name="txt_prefix_{{ verse.verse_id }}"
                        maxlength="50" value="{{ verse.prefix }}" style="width: 50%;">
                    </label>
                    {% for prefix in prefixes %}
                    <br>
                    <a href="#" onclick="document.getElementById('txt_prefix_{{ verse.verse_id }}').value = '{{ prefix.prefix }}';
                    return false;">{{ prefix.prefix }}{% if prefix.comment %} <small><small><b>({{ prefix.comment }})</b></small></small>{% endif %}</a>
                    {% endfor %}
                    {% endif %}
                </div>
                <div style="text-align: right; width: 35%;">
                    {% trans "move2dot" %}
                    <select name="lis_move_to_{{ verse.verse_id }}" style="width: 100%;">
                        <optgroup label="{% trans "before" %}">
                            {% for lis_move_to_verse in verses %}
                                {% if lis_move_to_verse.num < verse.num %}
                                    <option value="{{ lis_move_to_verse.num|add:"-1" }}">
                                        {% if lis_move_to_verse.chorus == 1 %}
                                        {% trans "chorus" %}
                                        {% else %}
                                        {% trans "verse_num" %}{{ lis_move_to_verse.num_verse }}
                                        {% endif %}
                                        - {{ lis_move_to_verse.text|slice:":45" }} [...]
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        <option selected="selected" value="{{ verse.num }}">{% trans "dont_do_nothing" %}</option>
                        <optgroup label="{% trans "after" %}">
                            {% for lis_move_to_verse in verses %}
                                {% if lis_move_to_verse.num > verse.num %}
                                    <option value="{{ lis_move_to_verse.num|add:"+1" }}">
                                        {% if lis_move_to_verse.chorus == 1 %}
                                        {% trans "chorus" %}
                                        {% else %}
                                        {% trans "verse_num" %}{{ lis_move_to_verse.num_verse }}
                                        {% endif %}
                                        - {{ lis_move_to_verse.text|slice:":45" }} [...]
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                    </select>
                    <br>
                    <input style="width: 10%;" type="checkbox" name="box_delete_{{ verse.verse_id }}"
                    id="box_delete_{{ verse.verse_id }}"
                    onclick="if(this.checked) {return confirm('{% trans "Are you sure you want to delete this verse?" %}');}" />
                    <label for="box_delete_{{ verse.verse_id }}">{% trans "delete" %}</label>
                </div>
            </div>
            
            <textarea name="txt_verse_text_{{ verse.verse_id }}" rows="4">{% if verse.text %}{{ verse.text }}{% endif %}</textarea>
        </div>
    {% endfor %}

    <hr>
    <input name="btn_new_verse" value="{% trans "new_verse" %}" type="submit" />
    <hr>
    
    {% if moderator %}
    <a href="#" onclick="toggleVisibility('div_verse_prefixes'); return false;">{% trans "Verse prefixes" %}</a>
    <div id="div_verse_prefixes" style="display: none;">
        <br>
        {% for prefix in prefixes %}
        🏷️ : {{ prefix.prefix }}{% if prefix.comment %} <b>({{ prefix.comment }})</b>{% endif %}<i> - <label>{% trans "delete" %}
            <input style="width: 5%;" type="checkbox" name="box_verse_prefix_{{ prefix.prefix_id }}" /></label></i><br>
        {% endfor %}
        <br>
        <input class="w-1/3" type="text" id="txt_new_prefix" name="txt_new_prefix" maxlength="15" placeholder="{% trans "new prefix" %}">
        <input class="w-1/3" type="text" name="txt_new_prefix_comment" maxlength="100" placeholder="{% trans "comment" %}">
        <a href="#" onclick="addTextToInput('txt_new_prefix', '🎼'); return false;">🎼</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄋'); return false;">𝄋</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄌'); return false;">𝄌</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄐'); return false;">𝄐</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄴'); return false;">𝄴</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄆'); return false;">𝄆</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄇'); return false;">𝄇</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '℣'); return false;">℣</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '℟'); return false;">℟</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄞'); return false;">𝄞</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄢'); return false;">𝄢</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '𝄡'); return false;">𝄡</a>
        <a href="#" onclick="addTextToInput('txt_new_prefix', '🎶'); return false;">🎶</a>
        <br>
        <br>
    </div>
    {% endif %}
    <input name="btn_save" value="{% trans "save" %}" type="submit" />
    <input name="btn_save_exit" value="{% trans "song_save_exit" %}" type="submit" />
    <input name="btn_cancel" value="{% trans "cancel_info" %}" type="submit" />
</form>
{% endblock content %}

{% comment %}

🎼 Symboles de navigation musicale (reprises, coda, segno...)
Symbole	Nom	Unicode	Code
𝄆	Début de reprise	U+1D106	𝄆
𝄇	Fin de reprise	U+1D107	𝄇
𝄋	Coda	U+1D10B	𝄋
𝄌	Segno	U+1D10C	𝄌
Ces symboles sont parfaits pour indiquer des répétitions, D.S. (Dal Segno), D.C. (Da Capo), et Coda.

🎶 Notes et silences
Symbole	Nom	Unicode
♪	Croche	U+266A
♫	Double croche	U+266B
𝅝	Ronde	U+1D15D
𝅗𝅥	Blanche	U+1D15E
𝅘𝅥	Noire	U+1D15F
𝅘𝅥𝅮	Croche	U+1D160
𝅘𝅥𝅯	Double croche	U+1D161
𝄽	Silence de ronde	U+1D13D
𝄾	Silence de blanche	U+1D13E
𝄿	Silence de noire	U+1D13F

🎵 Altérations
Symbole	Nom	Unicode
♯	Dièse	U+266F
♭	Bémol	U+266D
♮	Bécarre	U+266E
𝄪	Double dièse	U+1D12A
𝄫	Double bémol	U+1D12B

⏹️ Indications diverses
Symbole	Nom / Usage	Unicode
𝄞	Clef de sol	U+1D11E
𝄢	Clef de fa	U+1D122
𝄡	Clef d'ut	U+1D121
𝄐	Point d'orgue	U+1D110
𝄴	Respiration / Souffle	U+1D134
‖	Double barre	U+2016
:	Barre de début de répétition
:		Barre de fin de répétition

ℹ️ Texte courant d'une partition
En complément, pour les textes comme :
D.S. al Coda
D.C. al Fine
Fine
To Coda
Bridge
Verse / Chorus / Intro / Outro
Tu peux les laisser en texte brut dans ta partition (avec une police stylisée si nécessaire), en les combinant avec les symboles ci-dessus pour plus de clarté.
Si tu affiches ça dans une interface graphique, pense à utiliser une police Unicode compatible musique, comme :
Bravura
Musica
Maestro
Emmentaler
Symbola (très complète en Unicode)
{% endcomment %}