{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "songs_list" %}{% endblock title %}
{% block title_h1 %}{% trans "songs_list" %}{% endblock title_h1 %}
{% block bloc1 %}
    {% if song.status != 0 and not moderator %}
        {% trans "contact_moderators_info_gen" %}
        <br><br><hr><br>
    {% endif %}

    <span>{% trans "Songs:" %}</span> <span id="nb_song"></span><br>
    {% if user.is_authenticated %}
    <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('info1')">{% trans "Search ⓘ:" %}</button>
    <span>{{ total_search_songs }}</span><br>
    <span id="info1" class="hidden text-xs">{% trans 'Total songs in save search' %}</span>
    {% endif %}
    <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('info2')">{% trans "Total ⓘ:" %}</button>
    <span>{{ total_songs }}</span><br>
    <span id="info2" class="hidden text-xs">{% trans 'Total songs in DB' %}</span>
    
    <br>

    {% trans "✔️: Song valided" %}<br>
    {% trans "✔️⁉️: Song valided with messages" %}<br>
    {% trans "📄: Licensed song" %}<br>
    {% trans "📱: Smartphone view" %}<br>
    {% trans "🖨️💯: Print song lyric - with chorus between all verses" %}<br>
    {% trans "🖨️1️⃣: Print song lyric - with only one chorus" %}
    
{% endblock bloc1 %}
{% block bloc2 %}
<div class="sticky top-0 p-2">
    <a name="search"></a>
    {% if search_genres %}
    {% for search_genre in search_genres %}
    {% for genre in genres %}
    {% if genre.genre_id == search_genre %}
    <a href="{% url 'delete_genre' genre.genre_id %}" class="L_GENRE_BADGE">❌ 🎼 {{ genre.name }}</a>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% if search_bands %}
    {% for search_band in search_bands %}
    {% for band in bands %}
    {% if band.band_id == search_band %}
    <a href="{% url 'delete_band' band.band_id %}" class="L_GENRE_BADGE">❌ 👥 {{ band.name }}</a>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% if search_artists %}
    {% for search_artist in search_artists %}
    {% for artist in artists %}
    {% if artist.artist_id == search_artist %}
    <a href="{% url 'delete_artist' artist.artist_id %}" class="L_GENRE_BADGE">❌ 👤 {{ artist.name }}</a>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}
    <h3 class="L_H3">{% trans "Song research" %}</h3>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <input type="text" id="search" name="txt_search" placeholder="{% trans "Minimum 3 characters" %}"
        value="{{ search_txt }}" /><br>
        <label>
            <input type="checkbox" name="chk_search_everywhere" style="width: 10%;" {% if search_everywhere %}checked{% endif %}>
            {% trans "Search in description and lyrics" %}
        </label><br>
        <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('advancedSearch')">{% trans "Advanced search" %}</button>
        <div id="advancedSearch" style="display: none; max-height: 20em; overflow-y: auto;">
            <br>
            <label>
                <input type="checkbox" id="chk_search_song_approved" name="chk_search_song_approved"
                onclick="if(this.checked){document.getElementById('chk_search_song_not_approved').checked=false;}"
                style="width: 10%;" {% if search_song_approved == 1 %}checked{% endif %}>
                {% trans "Song approved" %}
            </label>
            <br>
            <label>
                <input type="checkbox" id="chk_search_song_not_approved" name="chk_search_song_not_approved"
                onclick="if(this.checked){document.getElementById('chk_search_song_approved').checked=false;}"
                style="width: 10%;" {% if search_song_approved == 2 %}checked{% endif %}>
                {% trans "Song not approved" %}
            </label>
            <br><br>
            {% trans "Logic by:" %}
            <label>
                <input type="radio" name="rad_search_logic" value="or" style="width: 10%;" {% if not search_logic %}checked{% endif %}>
                {% trans "OR" %}
            </label>
            <label>
                <input type="radio" name="rad_search_logic" value="and" style="width: 10%;" {% if search_logic %}checked{% endif %}>
                {% trans "AND" %}
            </label>
            <br>
            <input id="search_genre_band_artist" type="text" class="w-3/4" placeholder="{% trans "find genre or band or artist" %}">
            {% for genre in genres %}
            <label id="chk_genre_{{ genre.genre_id }}" style="width: 92%;" class="L_GENRE_BADGE text-xs block">
                <input type="checkbox" name="chk_genre_{{ genre.genre_id }}"
                style="width: 15%;" {% if genre.genre_id in search_genres %}checked{% endif %}>
                🎼 {{ genre.group }} - {{ genre.name }}
            </label>
            {% endfor %}
            {% for band in bands %}
            <label id="chk_band_{{ band.band_id }}" style="width: 92%;" class="L_GENRE_BADGE text-xs block">
                <input type="checkbox" name="chk_band_{{ band.band_id }}"
                style="width: 15%;" {% if band.band_id in search_bands %}checked{% endif %}>
                👥 {{ band.name }}
            </label>
            {% endfor %}
            {% for artist in artists %}
            <label id="chk_artist_{{ artist.artist_id }}" style="width: 92%;" class="L_GENRE_BADGE text-xs block">
                <input type="checkbox" name="chk_artist_{{ artist.artist_id }}"
                style="width: 15%;" {% if artist.artist_id in search_artists %}checked{% endif %}>
                👤 {{ artist.name }}
            </label>
            {% endfor %}
            <hr>
            🎼 : {% trans "genre" %} / 👥 : {% trans "band" %} / 👤 : {% trans "artist" %}
            <hr>
        </div>
        <input name="btn_search" value="{% trans "save and search" %}" type="submit" />
        <input name="btn_reset_search" value="{% trans "reset" %}" type="submit" />
        <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('info3')">{% trans "help on ‘advanced search’" %} ⓘ</button>
        <span id="info3" class="hidden text-xs">{% trans 'help_save_search' %}</span>
    </form>
    {% else %}
    <input type="text" id="search" placeholder="{% trans "Minimum 3 characters" %}" value="{{ search_txt }}" /><br>
    {% endif %}
    {% if user.is_authenticated %}
    <hr>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="txt_new_title" placeholder="{% trans "New song" %}" maxlength="255" {% if title != '' %}value="{{ title }}"{% endif %} required /><br>
        <input type="text" name="txt_new_sub_title" placeholder="{% trans "New sub title" %}" {% if description != '' %}value="{{ sub_title }}"{% endif %} /><br>
        <input name="btn_new_song" value="{% trans "add" %}" type="submit" />
    </form>
    {% endif %}
</div>

<script>
    const songs = [
    {% for song in songs %}
        {
            song_id: {{ song.song_id }},
            full_title: "{{ song.full_title|escapejs }}",
            description: "{{ song.description|escapejs }}",
            status: {{ song.status }},
            genres: "{{ song.genres }}",
            bands: "{{ song.bands }}",
            artists: "{{ song.artists }}",
        },
    {% endfor %}
    ];
  
    const searchInput = document.getElementById('search');
    const songList = document.getElementById('song-list');
  
    function updateSongList(query) {
        songList.innerHTML = '';

        query = query.replace(/&#x27;/g, "'").replace(/&quot;/g, '"');
        
        const filteredSongs = query.length >= 3
            ? songs.filter(song => song.full_title.toLowerCase().includes(query.toLowerCase()))
            : songs;

        document.getElementById('nb_song').textContent = filteredSongs.length;
        
        filteredSongs.forEach(song => {
            const li = document.createElement('li');
            li.classList.add('L_LI');
            li.innerHTML = '<a href="/songs/song/' + song.song_id + '/">' + song.full_title + '</a><br>';
            
            br = '';
            if (song.genres) {
                const genresArr = song.genres.replace(/^\[|\]$/g, '').split(',');
                const uniqueGenres = new Set();
                genresArr.forEach(function(genre) {
                    const parts = genre.trim().split('|');
                    if (/^\d+\s*-\s*/.test(parts[1])) {
                        var name = parts[1].replace(/^\d+\s*-\s*/, '');
                    } else {
                        var name = parts[1];
                    }
                    if (parts.length === 2 && !uniqueGenres.has(parts[1])) {
                        li.innerHTML += '<a href="/songs/genre/' + parts[1].replace('/', '§slash§') + '/"><span class="L_GENRE_BADGE">🎼 ' + name + '</span></a>';
                        uniqueGenres.add(parts[1]);
                        br = '<br>';
                    }
                });
            }
            
            if (song.bands) {
                const bandsArr = song.bands.replace(/^\[|\]$/g, '').split(',');
                const uniqueBands = new Set();
                bandsArr.forEach(function(band) {
                    if (!uniqueBands.has(band) && band != 'None') {
                        li.innerHTML += '<a href="/songs/band/' + band + '/"><span class="L_GENRE_BADGE">👥 ' + band + '</span></a>';
                        uniqueBands.add(band);
                        br = '<br>';
                    }
                });
            }
            
            if (song.artists) {
                const artistsArr = song.artists.replace(/^\[|\]$/g, '').split(',');
                const uniqueArtists = new Set();
                artistsArr.forEach(function(artist) {
                    if (!uniqueArtists.has(artist) && artist != 'None') {
                        li.innerHTML += '<a href="/songs/artist/' + artist + '/"><span class="L_GENRE_BADGE">👤 ' + artist + '</span></a>';
                        uniqueArtists.add(artist);
                        br = '<br>';
                    }
                });
            }
            
            li.innerHTML += br;

            if (song.description) {
                li.innerHTML += '<button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility(' + "'info_" + song.song_id + "'" + ')">' + txt_Description + ' ⓘ</button> - ';
                li.innerHTML += '<textarea id="info_' + song.song_id + '" class="hidden" readonly="readonly" rows="3">' + song.description + '</textarea>';
            }
            if (song.status != 0) {
                li.innerHTML += '<a href="/songs/moderator_song/' + song.song_id + '/">' + '{% trans "Contact moderators" %}' + '</a>';
            } else {
                li.innerHTML += '<a href="/songs/modify_song/' + song.song_id + '/">' + txt_Modify + '</a>';
                li.innerHTML += ' - <a href="/songs/delete_song/' + song.song_id + '/">' + txt_Delete + '</a>';
            }

            li.innerHTML += ' - <a style="text-decoration: none!important;" href="/songs/smartphone_view/' + song.song_id + '/">📱</a>';
            li.innerHTML += ' - <a style="text-decoration: none!important;" href="/songs/print_lyrics/' + song.song_id + '/">🖨️💯</a>';
            li.innerHTML += ' - <a style="text-decoration: none!important;" href="/songs/print_lyrics_one_chorus/' + song.song_id + '/">🖨️1️⃣</a>';

            songList.appendChild(li);
        });
    }

    searchInput.addEventListener('input', (e) => {
        updateSongList(e.target.value);
    });

    updateSongList('{{ new_song_title }}');

    
    // Toggle advanced search visibility
    (() => {
    const filterInput = document.getElementById('search_genre_band_artist');
    const labels = Array.from(
        document.querySelectorAll(
        'label[id^="chk_genre_"], label[id^="chk_band_"], label[id^="chk_artist_"]'
        )
    );

    filterInput.addEventListener('input', e => {
        const q = e.target.value.trim().toLowerCase();
        labels.forEach(label => {
        const text = label.textContent.trim().toLowerCase();
        label.style.display = q && !text.includes(q) ? 'none' : '';
        });
    });
    })();
</script>
<div style="position: fixed; top: 100px; right: 20px; z-index: 1000;">
    <a href="#search" style="text-decoration: none!important;" class="lg:hidden text-3xl">🔎</a>
</div>
{% endblock bloc2 %}

{% block content %}
<ul id="song-list">
    <!-- Songs will be dynamically filtered here -->
</ul>
{% endblock content %}
