{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "song2dot" %}{{ song.title }}{% endblock title %}
{% block title_h1 %}
{{ song.title }}
{% if song.status >= 1 %} ✔️{% endif %}
{% if song.status == 2 %} ⁉️{% endif %}
{% if song.licensed %} 📄{% endif %}
{% endblock title_h1 %}
{% block bloc1 %}
{% include "common/song_actions.html" %}
{% endblock bloc1 %}
{% block bloc2 %}{% include "common/song_meta.html" %}{{ song_lyrics|safe }}{% endblock bloc2 %}

{% block content %}
<h2 class="L_H2">{{ song.sub_title }}</h2>
<h3 class="L_H3">{% trans "Metadata" %}</h3>
<form method="post" action="{% url "song_metadata" song.song_id %}">
    {% csrf_token %}
    <input name="btn_save_goto_modify" value="{% trans "Save and return to modify" %}" type="submit" />

    <hr>

    <h4 class="L_H4">🔗 {% trans "Web links" %}</h4>

    <table>
        <thead>
            <tr>
                <th style="width: 40%;">{% trans "Link" %}</th>
                <th style="width: 40%;">{% trans "Auto-text" %}</th>
                <th style="width: 20%;">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for link in song.links %}
            <tr>
                <td><input name="txt_link_{{ forloop.counter }}" value="{{ link.0 }}"></td>
                <td><input value="{{ link.1 }}" readonly="readonly"></td>
                <td>
                    <input onclick="return confirm('{% trans "Delete this link?" %}');"
                    name="btn_delete_link_{{ forloop.counter }}" value="⛓️‍💥 {% trans "Delete" %}" type="submit" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" rowspan="1">{% trans "New link" %}</td>
            </tr>
            <tr>
                <td colspan="3" rowspan="1"><input name="txt_new_link"></td>
            </tr>
            <tr>
                <th>{% trans "Link" %}</th>
                <th>{% trans "Auto-text" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </tfoot>
    </table>

    <hr>

    <h3 class="L_H3">{% trans "Genres" %}</h3>
    <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('div_genres')">
        {% trans "display / undisplay" %}
    </button>
    <div id="div_genres" class="transfer-container" style="display: none;" data-group="genres">
        <div class="flex gap-6">
            <h4 class="L_H4 w-1/2">{% trans "Selected" %}</h4>
            <h4 class="L_H4 w-1/2">{% trans "Available" %}</h4>
        </div>
        <div class="flex gap-6">
            <ul class="zone w-1/2 L_LI" style="min-height: 5em; max-height: 15em; overflow-y: auto;" data-role="source">
                {% for genre in genres_associated %}
                <li data-id="{{ genre.genre_id }}" class="cursor-pointer L_GENRE_BADGE">
                    <input type="hidden" name="genre_ids" value="{{ genre.genre_id }}">
                    <strong>{{ genre.group }}</strong> – {{ genre.name }}
                </li>
                {% endfor %}
            </ul>
            <ul class="zone w-1/2 L_LI" style="min-height: 5em; max-height: 15em; overflow-y: auto;" data-role="target">
                {% for genre in genres_not_associated %}
                <li data-id="{{ genre.genre_id }}"  class="cursor-pointer L_GENRE_BADGE">
                    <strong>{{ genre.group }}</strong> – {{ genre.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <br><hr>
    <h3 class="L_H3">{% trans "Bands" %}</h3>
    <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('div_bands')">
        {% trans "display / undisplay" %}
    </button>
    <div id="div_bands" class="transfer-container" style="display: none;" data-group="bands">
        <div class="flex gap-6">
            <h4 class="L_H4 w-1/2">{% trans "Selected" %}</h4>
            <h4 class="L_H4 w-1/2">{% trans "Available" %}</h4>
        </div>
        <div class="flex gap-6">
            <ul class="zone w-1/2 L_LI" style="min-height: 5em; max-height: 15em; overflow-y: auto;" data-role="source">
                {% for band in bands %}
                {% if band.song_id %}
                <li data-id="{{ band.band_id }}" class="cursor-pointer L_GENRE_BADGE">
                    <input type="hidden" name="band_ids" value="{{ band.band_id }}">
                    {{ band.name }}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="zone w-1/2 L_LI" style="min-height: 5em; max-height: 15em; overflow-y: auto;" data-role="target">
                {% for band in bands %}
                {% if not band.song_id %}
                <li data-id="{{ band.band_id }}" class="cursor-pointer L_GENRE_BADGE">
                    {{ band.name }}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <h3 class="L_H3">{% trans "Artists" %}</h3>
    <button class="L_BUTTON_LIKE_A_LINK" type="button" onclick="toggleVisibility('div_artists')">
        {% trans "display / undisplay" %}
    </button>
    <div id="div_artists" class="transfer-container" style="display: none;" data-group="artists">
        <div class="flex gap-6">
            <h4 class="L_H4 w-1/2">{% trans "Selected" %}</h4>
            <h4 class="L_H4 w-1/2">{% trans "Available" %}</h4>
        </div>
        <div class="flex gap-6">
            <ul class="zone w-1/2 L_LI" style="min-height: 5em; max-height: 15em; overflow-y: auto;" data-role="source">
                {% for artist in artists %}
                {% if artist.song_id %}
                <li data-id="{{ artist.artist_id }}" class="cursor-pointer L_GENRE_BADGE">
                    <input type="hidden" name="artist_ids" value="{{ artist.artist_id }}">
                    {{ artist.name }}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul class="zone w-1/2 L_LI" style="min-height: 5em; max-height: 15em; overflow-y: auto;" data-role="target">
                {% for artist in artists %}
                {% if not artist.song_id %}
                <li data-id="{{ artist.artist_id }}" class="cursor-pointer L_GENRE_BADGE">
                    {{ artist.name }}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if moderator %}
    <br><hr>
    <h3 class="L_H3">{% trans "Moderator" %}</h3>
    <h4 class="L_H4">{% trans "Genre" %}</h4>
    <table>
        <thead>
            <tr>
                <th style="width: 40%;">{% trans "Group" %}</th>
                <th style="width: 40%;">{% trans "Name" %}</th>
                <th style="width: 20%;">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in genres %}
            <tr>
                <td><input name="txt_genre_group_{{ genre.genre_id }}" value="{{ genre.full_group }}"></td>
                <td><input name="txt_genre_name_{{ genre.genre_id }}" value="{{ genre.full_name }}"></td>
                <td>
                    <input type="checkbox" name="chk_delete_genre_{{ genre.genre_id }}" id="chk_delete_genre_{{ genre.genre_id }}" style="width: 10%">
                    <label for="chk_delete_genre_{{ genre.genre_id }}">
                        <span class="icon">🗑️</span>
                        {% trans "Delete" %}
                    </label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><input name="txt_genre_group_NEW" placeholder="{% trans "Group name" %}"></td>
                <td><input name="txt_genre_name_NEW" placeholder="{% trans "Genre name" %}"></td>
                <td>{% trans "New genre" %}</td>
            </tr>
            <tr>
                <th>{% trans "Group" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </tfoot>
    </table>
    {% endif %}

    <hr>

    <input name="btn_save" value="{% trans "Save" %}" type="submit" />
    <input name="btn_save_goto_modify" value="{% trans "Save and return to modify" %}" type="submit" />
</form>
{% endblock content %}