{% extends "base.html" %}

{% block title %}Liste des chants{% endblock title %}
{% block title_h1 %}Liste des chants{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}{% endblock bloc2 %}

{% block content %}
<table class="table-fixed" style="width: 100%;">
    <thead>
        <tr>
            <th class="w-3/6">Titre</th>
            <th class="w-2/6">Description</th>
            <th class="w-1/6">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr class="border border-pink-800">
            <td>{{ song.full_title }}</td>
            <td>
                {{ song.description|slice:":100" }}
                {% if song.description|length > 100 %} [...] {% endif %}
            </td>
            <td>
                <a href="{% url 'modify_song' song.song_id %}">Modifier</a> |
                <a href="{% url 'delete_song' song.song_id %}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <form method="post">
                {% csrf_token %}
                <td><input type="text" name="txt_new_title" placeholder="Nouveau chant" maxlength="255" {% if title != '' %}value="{{ title }}"{% endif %} required /></td>
                <td><input type="text" name="txt_new_description" placeholder="Description" {% if description != '' %}value="{{ description }}"{% endif %} /></td>
                <td><input name="btn_new_song" value="Ajouter" type="submit" /></td>
            </form>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th class="w-3/5">Titre</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </tfoot>
    {% if form.errors.title %}
        <div class="error">
            <p>{{ form.errors.title }}</p>
        </div>
    {% endif %}
</table>
{% endblock content %}
