{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "songs_list" %}{% endblock title %}
{% block title_h1 %}{% trans "songs_list" %}{% endblock title_h1 %}
{% block bloc1 %}
    {% if song.status != 0 and not moderator %}
        {% trans "contact_moderators_info_gen" %}
        <br><br><hr><br>
    {% endif %}
    {% trans "✔️: Song valided" %}<br>
    {% trans "✔️⁉️: Song valided with messages" %}
{% endblock bloc1 %}
{% block bloc2 %}
<div class="sticky top-0 p-2">
    <a name="search"></a>
    <h3 class="L_H3">{% trans "Song research" %}</h3>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="search" name="txt_search" placeholder="{% trans "Minimum 3 characters" %}"
        value="{{ search_txt }}" /><br>
        {% if user.is_authenticated %}
        <label>
            <input type="checkbox" name="chk_search_everywhere" style="width: 10%;" {% if search_everywhere %}checked{% endif %}>
            {% trans "Search in description and lyrics" %}
        </label><br>
        <a href="#" onclick="toggleVisibility('advancedSearch');">{% trans "Advanced search" %}</a>
        <div id="advancedSearch" style="display: none;">
            {% trans "Logic by:" %}
            <label>
                <input type="radio" name="rad_search_logic" value="or" style="width: 10%;" {% if not search_logic %}checked{% endif %}>
                {% trans "OR" %}
            </label>
            <label>
                <input type="radio" name="rad_search_logic" value="and" style="width: 10%;" {% if search_logic %}checked{% endif %}>
                {% trans "AND" %}
            </label>
            <br>
            {% for genre in genres %}
            <label class="L_GENRE_BADGE">
                <input type="checkbox" name="chk_genre_{{ genre.genre_id }}" style="width: 10%;" {% if search_in_description %}checked{% endif %}>
                {{ genre.emoji_random }} {{ genre.group }} - {{ genre.name }}
            </label><br>
            {% endfor %}
        </div>
        <input name="btn_search" value="{% trans "search" %}" type="submit" />
        {% endif %}
    </form>
    {% comment %} 
        
            <input type="text" name="txt_search_text" placeholder="" value="sdf" />
    </div> {% endcomment %}
    <br><br><hr><br>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="txt_new_title" placeholder="{% trans "New song" %}" maxlength="255" {% if title != '' %}value="{{ title }}"{% endif %} required /><br>
        <input type="text" name="txt_new_sub_title" placeholder="{% trans "New sub title" %}" {% if description != '' %}value="{{ sub_title }}"{% endif %} /><br>
        <input name="btn_new_song" value="{% trans "add" %}" type="submit" />
    </form>
</div>

<script>
    const songs = [
    {% for song in songs %}
        {
            song_id: {{ song.song_id }},
            full_title: "{{ song.full_title|escapejs }}",
            description: "{{ song.description|escapejs }}",
            status: {{ song.status }}
        },
    {% endfor %}
    ];
  
    const searchInput = document.getElementById('search');
    const songList = document.getElementById('song-list');
  
    function updateSongList(query) {
        songList.innerHTML = '';
        
        const filteredSongs = query.length >= 3
            ? songs.filter(song => song.full_title.toLowerCase().includes(query.toLowerCase()))
            : songs;
        
        filteredSongs.forEach(song => {
            const li = document.createElement('li');
            li.classList.add('L_LI');
            li.innerHTML = '<a href="/songs/song/' + song.song_id + '/">' + song.full_title + '</a><br>';
            li.innerHTML += '<span class="L_LIKE_A" title="' + song.description + '">' + txt_Description + ' ⓘ</span> - ';
            if (song.status != 0) {
                li.innerHTML += '<a href="/songs/moderator_song/' + song.song_id + '/">' + '{% trans "Contact moderators" %}' + '</a>';
            } else {
                li.innerHTML += '<a href="/songs/modify_song/' + song.song_id + '/">' + txt_Modify + '</a>';
                li.innerHTML += ' - <a href="/songs/delete_song/' + song.song_id + '/">' + txt_Delete + '</a>';
            }
        
            songList.appendChild(li);
        });
    }

    searchInput.addEventListener('input', (e) => {
        updateSongList(e.target.value);
    });
    
    updateSongList('{{ new_song_title }}');
</script>
<div style="position: fixed; top: 20px; right: 20px; z-index: 1000;">
    <a href="#search" style="text-decoration: none!important;" class="lg:hidden text-3xl">🔎</a>
</div>
{% endblock bloc2 %}

{% block content %}
<ul id="song-list">
    <!-- Songs will be dynamically filtered here -->
</ul>
{% endblock content %}
