{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html class="scroll-smooth" template="true" lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title_before }}{% block title %}{% endblock title %}{{ title_after }}</title>
    <meta content="author" name="{{ author }}">
    <meta content="description" name="{{ description }}">
    <link rel="icon" sizes="192x192" href="{% static "images/Lyrics.png" %}" type="image/png"/>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Baloo+2&family=Bangers&family=Bree+Serif&family=Caveat&family=Chewy&family=Concert+One&family=Fredoka&family=Fugaz+One&family=Gloria+Hallelujah&family=Indie+Flower&family=Lobster&family=Patrick+Hand&family=Poppins&family=Quicksand&family=Righteous&family=Roboto+Slab&family=SACRAMENTO&family=Source+Sans+Pro&family=Special+Elite&family=Staatliches&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/tailwind.lyrics_slide_show.css' %}">
    <link rel="stylesheet" href="{% if css == "scout.css" %}{% static "css/scout.css" %}{% else %}{% static "css/normal.css" %}{% endif %}">
    <link rel="stylesheet" href="{% static "css/fonts.css" %}">
    <script src="{% static 'js/lyrics_slide_show.js' %}"></script>
</head>
<body class="L_TEXT L_BG">
    {% if not no_loader %}
    <div id="loader" class="text-l fixed inset-0 z-50 flex items-center justify-center">
        <a href="{% url "kill_loader" %}"><div>
            <div class="fixed inset-0 z-50 flex items-center justify-center">
                <img src="{% static 'images/loading.gif' %}" alt="🔄" title="{% trans 'Loading...' %}" class="w-96 h-48">
            </div>
            <br><br><br>
            <div class="text-center">
                <b>{% trans 'Loading...' %}</b>
            </div>
            <br><br><br>
            <div class="text-center">
                {% trans "Page not displayed after a few seconds? Refresh (F5) it or click here." %}
            </div></a>
        </div>
    </div>
    {% endif %}
    
    <div id="general" {% if not no_loader %}style="display: none;"{% endif %}>
        {% include 'includes/header.html' %}

        <div class="container mx-auto p-4">
            <div class="flex flex-col lg:flex-row mb-4 items-stretch">
                <div class="lg:w-3/4 flex flex-col md:flex-row">
                    <div class="md:w-2/3 p-4 mx-2 mt-4 shadow-lg md:order-2 rounded-tl-lg rounded-br-lg">
                        <!-- §§§§§§§§§§§§§§§§§§§§§ -->
                        <!-- §§§§§ MAIN BLOC §§§§§ -->
                        <!-- §§§§§§§§§§§§§§§§§§§§§ -->
                        {% if error != '' %}
                            <span class="float-left">⚠️&nbsp;</span>
                            {% if error == '[ERR1]' %}
                                <p class="L_ERROR">{% trans "ERR1" %}</p>
                            {% elif error == '[ERR2]' %}
                                <p class="L_ERROR">{% trans "ERR2" %}</p>
                            {% elif error == '[ERR3]' %}
                                <p class="L_ERROR">{% trans "ERR3" %}</p>
                            {% elif error == '[ERR4]' %}
                                <p class="L_ERROR">{% trans "ERR4" %}</p>
                            {% elif error == '[ERR5]' %}
                                <p class="L_ERROR">{% trans "ERR5" %}</p>
                            {% elif error == '[ERR6]' %}
                                <p class="L_ERROR">{% trans "ERR5" %}</p>
                            {% elif error == '[ERR7]' %}
                                <p class="L_ERROR">{% trans "ERR7" %}</p>
                            {% elif error == '[ERR8]' %}
                                <p class="L_ERROR">{% trans "ERR8" %}</p>
                            {% elif error == '[ERR9]' %}
                                <p class="L_ERROR">{% trans "ERR9" %}</p>
                            {% elif error == '[ERR10]' %}
                                <p class="L_ERROR">{% trans "ERR10" %}</p>
                            {% elif error == '[ERR11]' %}
                                <p class="L_ERROR">{% trans "ERR11" %}</p>
                            {% elif error == '[ERR12]' %}
                                <p class="L_ERROR">{% trans "ERR12" %}</p>
                            {% elif error == '[ERR13]' %}
                                <p class="L_ERROR">{% trans "ERR13" %}</p>
                            {% elif error == '[ERR14]' %}
                                <p class="L_ERROR">{% trans "ERR14" %}</p>
                            {% elif error == '[ERR15]' %}
                                <p class="L_ERROR">{% trans "ERR15" %}</p>
                            {% elif error == '[ERR16]' %}
                                <p class="L_ERROR">{% trans "ERR16" %}</p>
                            {% elif error == '[ERR17]' %}
                                <p class="L_ERROR">{% trans "ERR17" %}</p>
                            {% elif error == '[ERR18]' %}
                                <p class="L_ERROR">{% trans "ERR18" %}</p>
                            {% elif error == '[ERR19]' %}
                                <p class="L_ERROR">{% trans "ERR19" %}</p>
                            {% elif error == '[ERR20]' %}
                                <p class="L_ERROR">{% trans "ERR20" %}</p>
                            {% elif error == '[ERR21]' %}
                                <p class="L_ERROR">{% trans "ERR21" %}</p>
                            {% elif error == '[ERR22]' %}
                                <p class="L_ERROR">{% trans "ERR22" %}</p>
                            {% elif error == '[ERR23]' %}
                                <p class="L_ERROR">{% trans "ERR23" %}</p>
                            {% elif error == '[ERR24]' %}
                                <p class="L_ERROR">{% trans "ERR24" %}</p>
                            {% elif error == '[ERR25]' %}
                                <p class="L_ERROR">{% trans "ERR25" %}</p>
                            {% elif error == '[ERR26]' %}
                                <p class="L_ERROR">{% trans "ERR26" %}</p>
                            {% elif error == '[ERR27]' %}
                                <p class="L_ERROR">{% trans "ERR27" %}</p>
                            {% elif error == '[ERR28]' %}
                                <p class="L_ERROR">{% trans "ERR28" %}</p>
                            {% elif error == '[ERR29]' %}
                                <p class="L_ERROR">{% trans "ERR29" %}</p>
                            {% elif error == '[ERR30]' %}
                                <p class="L_ERROR">{% trans "ERR30" %}</p>
                            {% elif error == '[ERR31]' %}
                                <p class="L_ERROR">{% trans "ERR31" %}</p>
                            {% elif error == '[ERR32]' %}
                                <p class="L_ERROR">{% trans "ERR32" %}</p>
                            {% elif error == '[ERR33]' %}
                                <p class="L_ERROR">{% trans "ERR33" %}</p>
                            {% elif error == '[ERR34]' %}
                                <p class="L_ERROR">{% trans "ERR34" %}</p>
                            {% elif error == '[ERR35]' %}
                                <p class="L_ERROR">{% trans "ERR35" %}</p>
                            {% elif error == '[ERR36]' %}
                                <p class="L_ERROR">{% trans "ERR36" %}</p>
                            {% elif error == '[ERR37]' %}
                                <p class="L_ERROR">{% trans "ERR37" %}</p>
                            {% elif error == '[ERR38]' %}
                                <p class="L_ERROR">{% trans "ERR38" %}</p>
                            {% elif error == '[ERR39]' %}
                                <p class="L_ERROR">{% trans "ERR39" %}</p>
                            {% elif error == '[ERR40]' %}
                                <p class="L_ERROR">{% trans "ERR40" %}</p>
                            {% elif error == '[ERR41]' %}
                                <p class="L_ERROR">{% trans "ERR41" %}</p>
                            {% elif error == '[ERR42]' %}
                                <p class="L_ERROR">{% trans "ERR42" %}</p>
                            {% elif error == '[ERR43]' %}
                                <p class="L_ERROR">{% trans "ERR43" %}</p>
                            {% elif error == '[ERR44]' %}
                                <p class="L_ERROR">{% trans "ERR44" %}</p>
                            {% elif error == '[ERR45]' %}
                                <p class="L_ERROR">{% trans "ERR45" %}</p>
                            {% elif error == '[ERR46]' %}
                                <p class="L_ERROR">{% trans "ERR46" %}</p>
                            {% elif error == '[ERR47]' %}
                                <p class="L_ERROR">{% trans "ERR47" %}</p>
                            {% elif error == '[ERR48]' %}
                                <p class="L_ERROR">{% trans "ERR48" %}</p>
                            {% elif error == '[ERR49]' %}
                                <p class="L_ERROR">{% trans "ERR49" %}</p>
                            {% elif error == '[ERR50]' %}
                                <p class="L_ERROR">{% trans "ERR50" %}</p>
                            {% else %}
                                <p class="L_ERROR_OTHER">{{ error }}</p>
                            {% endif %}
                            <hr>
                        {% endif %}
                        <h1 class="L_H1">{% block title_h1 %}{% endblock title_h1 %}</h1>
                        {% block content %}{% endblock %}
                    </div>
                    <div class="md:w-1/3 mx-2 mt-4 p-4 shadow-lg bg-black bg-opacity-10 rounded-tl-lg rounded-br-lg">
                        <!-- §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ -->
                        <!-- §§§§§ SECONDAY BLOC (left) §§§§§ -->
                        <!-- §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ -->
                        {% block bloc1 %}{% endblock %}
                    </div>
                </div>
                <div class="lg:w-1/4 mx-2 mt-4">
                    <div class="p-4 shadow-lg order-3 bg-black bg-opacity-10 h-full rounded-tl-lg rounded-br-lg">
                        <!-- §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ -->
                        <!-- §§§§§ THIRD BLOC (right) §§§§§ -->
                        <!-- §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ -->
                        {% block bloc2 %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
    </div>

    <script src="{% static 'js/loader.js' %}"></script>
</body>
</html>