{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Create a new group" %}Création d'un groupe{% endblock title %}
{% block title_h1 %}{{ name }}{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}{% trans "admin_info_plus" %}{% endblock bloc2 %}

{% block content %}

{% if valided == '' %}
<form method="post">
    {% csrf_token %}
    <input type="text" name="txt_new_name" placeholder="{% trans "New group" %}" maxlength="255" value="{{ name }}" required /><br>
    <textarea name="txt_new_info" placeholder="{% trans "Description" %}" maxlength="255">{{ info }}</textarea><br>
    {% trans "admin_info" %}<br>
    {% trans "Username2dot" %}
    <input type="text" name="txt_username" placeholder="{% trans "Username" %}" maxlength="255" value="{{ username }}" required /><br>
    <input name="btn_add_group" value="{% trans "Add" %}" type="submit" />
</form>
{% endif %}

{% if valided != '' %}
<p>{{ valided }}</p>
{% endif %}

{% endblock content %}
