{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "groups_list" %}{% endblock title %}
{% block title_h1 %}{% trans "groups_list" %}{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}
<form method="post" action="{% url "add_group" %}">
    {% csrf_token %}
    <input type="text" name="txt_new_name" placeholder="{% trans "new_group" %}" maxlength="255" {% if name != '' %}value="{{ name }}"{% endif %} required />
    <input name="btn_new_group" value="{% trans "add" %}" type="submit" />
</form>
{% endblock bloc2 %}

{% block content %}
<ul>
{% for group in groups %}
    <li class="flex items-center space-x-2">
        <span>👥</span>
        <span>{{ group.name }}</span>
        {% if group.private %}
        <span title="{% trans 'This group is private' %}">🔐</span>
        {% else %}
        {% if group.token %}<span title="{% trans 'You need to know the token for use this group' %}">📱</span>{% endif %}
        {% endif %}
        <span>{{ group.info }}</span>
        <span><a href="{% url "select_group" group.group_id %}">{% trans "select" %}</a> - <a href="{% url "modify_group" group.group_id %}">{% trans "modify" %}</a></span>
    </li>
{% endfor %}
</ul>

{% endblock content %}
