{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "groups_list" %}{% endblock title %}
{% block title_h1 %}{% trans "groups_list" %}{% endblock title_h1 %}
{% block bloc1 %}
{% if group_selected %}<span class="L_GROUP_SELECTED">{% trans "groupe_selected1" %}{{ group_selected }}{% trans "groupe_selected2" %}{% else %}{% trans "No group selected" %}</span>{% endif %}
{% endblock bloc1 %}
{% block bloc2 %}
<form method="post" action="{% url "add_group" %}">
    {% csrf_token %}
    <input type="text" name="txt_new_name" placeholder="{% trans "new_group" %}" maxlength="255" {% if name != '' %}value="{{ name }}"{% endif %} required />
    <input name="btn_new_group" value="{% trans "add" %}" type="submit" />
</form>
{% endblock bloc2 %}

{% block content %}
<ul>
{% for group in groups %}
    <li class="flex items-center space-x-2">
        <span>👥</span>
        {% if group.private %}
            <span class="w-1/3 p-2" title="{% trans 'This group is private' %}">{{ group.name }} 🔐</span>
        {% else %}
            {% if group.token %}
                <span class="w-1/3 p-2" title="{% trans 'You need to know the token for use this group' %}">{{ group.name }} 📱</span>
            {% else %}
                <span class="w-1/3 p-2" title="{% trans 'This group is open' %}">{{ group.name }} 🌐</span>
            {% endif %}
        {% endif %}
        <span class="w-1/3" p-2>{{ group.info }}</span>
        <span class="w-1/3 p-2">- <a href="{% url "select_group" group.group_id %}">{% trans "select" %}</a> - <a href="{% url "modify_group" group.group_id %}">{% trans "modify" %}</a></span>
    </li>
{% endfor %}
</ul>

{% endblock content %}
