{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ group.name }}{% trans "2dotModify" %}{% endblock title %}
{% block title_h1 %}{{ group.name }}{% endblock title_h1 %}
{% block bloc1 %}{% endblock bloc1 %}
{% block bloc2 %}{% trans "token_info2" %}{% endblock bloc2 %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <input type="text" name="txt_group_name" placeholder="{% trans "MANDATORY" %}" maxlength="255" value="{{ group.name }}" required /><br>
    <textarea name="txt_group_info" placeholder="{% trans "Description" %}" maxlength="255">{{ info }}</textarea>
    <hr>
    {% trans "token_info1" %}<br>
    <input class="w-4 h-4" id="box_group_token" type="checkbox" name="box_group_token" maxlength="255" value="{{ username }}" />
    <label for="box_group_token">{% trans "New group token" %}</label>
    {% if group.token %}
    <br><span>{{ group.token }}</span><br>
    <input class="w-4 h-4" id="box_group_token_delete" type="checkbox" name="box_group_token_delete" maxlength="255" value="{{ username }}" />
    <label for="box_group_token_delete">{% trans "Delete group token" %}</label>
    {% endif %}
    <hr>
    <input name="btn_save" value="{% trans "save" %}" type="submit" />
    <input name="btn_cancel" value="{% trans "cancel" %}" type="submit" />
</form>

{% endblock content %}
