{% load i18n %}

<h3 class="L_H3">{% trans "Actions" %}</h3>
{% if not "/song/" in request.path %}<a href="{% url "goto_song" song.song_id %}">{% trans "Display" %}</a><br>{% endif %}
{% if song.status == 0 or moderator %}
{% if not "modify_song" in request.path %}<a href="{% url 'modify_song' song.song_id %}">{% trans "Modify" %}</a><br>{% endif %}
{% if not "song_metadata" in request.path %}<a href="{% url 'song_metadata' song.song_id %}">{% trans "Metadata" %}</a><br>{% endif %}
{% if not "delete_song" in request.path %}<a href="{% url 'delete_song' song.song_id %}">{% trans "Delete" %}</a><br>{% endif %}
{% else %}
<a href="{% url 'moderator_song' song.song_id %}" title="{% trans "contact_moderators_info" %}">{% trans "Contact moderators" %} ⓘ</a>
{% endif %}

<hr>

<a href="{% url "smartphone_view" song.song_id %}">📱 {% trans "Smartphone view" %}</a><br>
<h3 class="L_H3">{% trans "Print" %}</h3>
<a href="{% url "print_lyrics" song.song_id %}">🖨️💯 - {% trans "Print song lyric" %}</a><br>
<a href="{% url "print_lyrics_one_chorus" song.song_id %}">🖨️1️⃣ - {% trans "Print song lyric - one chorus" %}</a><br>

<hr>

{% for link in song.links %}
    🔗 <a href="{{ link|first }}" title="{{ link|first }}">{{ link|last }}</a><br>
{% endfor %}