{% load i18n %}

{% for band in song.bands %}
{% if band.song_id %}
<span class="L_GENRE_BADGE">
    <a href="{% url 'songs' %}band/{{ band.name }}/">
        {{ band.emoji_random }} {{ band.name }}
    </a>
</span>
{% endif %}
{% endfor %}

{% for artist in song.artists %}
{% if artist.song_id %}
<span class="L_GENRE_BADGE">
    <a href="{% url 'songs' %}artist/{{ artist.name }}/">
        {{ artist.emoji_random }} {{ artist.name }}
    </a>
</span>
{% endif %}
{% endfor %}

<hr>

{% for genre in song.genres %}
{% if genre.is_new_group %}
<h4 class="L_H4">{{ genre.group }}</h4>
{% endif %}
<span class="L_GENRE_BADGE">
    <a href="{% url 'songs' %}genre/{{ genre.full_name }}/">
        {{ genre.emoji_random }} {{ genre.name }}
    </a>
</span>
{% endfor %}

{% if song.genres|length >= 1 %}<hr>{% endif %}