{% load i18n static %}
<section class="song-link-list">
    {% if links %}
        <ul>
            {% for link in links %}
                <li class="song-link-list-item">
                    <img
                        src="{% static 'images/song_links/'|add:link.display_type|add:'.png' %}"
                        alt=""
                        class="song-link-list-bullet"
                        width="16"
                        height="16"
                    >
                    <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">{{ link.link }}</a>
                    <small>({{ link.display_label }})</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "Aucun lien associé." %}</p>
    {% endif %}
</section>
